<!-- 点击触发加载 -->
<nz-cascader nzChangeOnSelect 
    *ngIf="isClickOnLoad"
    name="{{name}}" 
    [(ngModel)]="values" 
    [nzLoadData]="loadData" 
    (ngModelChange)="onChanges($event)"
    [nzPlaceHolder]="placeHolder"
    [disabled]="xDisabled"
    (nzSelectionChange)="onSelectionChange($event)"
    > 
</nz-cascader>

<!-- 鼠标进入触发加载 -->
<nz-cascader nzChangeOnSelect 
    *ngIf="!isClickOnLoad"
    name="{{name}}" 
    [(ngModel)]="values" 
    [nzLoadData]="loadData" 
    (ngModelChange)="onChanges($event)"
    [nzTriggerAction]="'hover'"
    [nzExpandTrigger]="'hover'"
    [nzPlaceHolder]="placeHolder"
    [disabled]="xDisabled"
    (nzSelectionChange)="onSelectionChange($event)"
    > 
</nz-cascader>