@using LTMCompanyName.YoyoCmsTemplate
  <!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
       
    <div class="kt-footer__copyright">
        2018&nbsp;&copy;&nbsp;
        <a href="http://keenthemes.com/keen" target="_blank"
           class="kt-link"> @Model.GetProductNameWithEdition()  
            v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")] Inc</a>
    </div>
    <div class="kt-footer__menu">
        <a href="//www.52abp.com/" target="_blank"
           class="kt-footer__menu-link kt-link">52ABP官网</a>
        <a href="//gitee.com/abpprocustomer/52ABP-Enterprise" target="_blank"
           class="kt-footer__menu-link kt-link">企业仓库</a>
        <a href="//dwz.cn/kQydQrTe" target="_blank"
           class="kt-footer__menu-link kt-link">视频课程</a>
    </div>
</div>

<!-- end:: Footer -->