<div nz-row style="margin-top: 10px">
  <div nz-col nzSm="20">
    <page-filter
      [pageFilters]="pageInfo.pageFilters"
      [displayLabel]="true"
      (readyChange)="onFilterReady($event)"
      (valueChange)="onFilterChange($event)"
    >
    </page-filter>
  </div>
  <div nz-col nzSm="4" style="text-align: right">
    <button nz-button (click)="search($event)">
      {{ l('Search') }}
    </button>
    <button nz-button [disabled]="!checkedData || checkedData.length !== 1" (click)="handleUpload($event)">
      {{ l('Select') }}
    </button>
  </div>
</div>

<sample-table
  [loading]="loading"
  [page]="pageInfo"
  [columns]="pageInfo.columns"
  [data]="pageInfo.viewRecord"
  [virtual]="pageInfo.virtual"
  [virtualItemSize]="pageInfo.virtualItemSize"
  [scroll]="pageInfo.scroll"
  [pageIndex]="pageInfo.index"
  [pageSize]="pageInfo.size"
  [total]="pageInfo.totalRecord"
  (action)="onAction($event)"
  (check)="onCheckChange($event)"
  (sort)="onSortChange($event)"
  (pageIndexChange)="onPageIndexChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
</sample-table>
