@*<div class="alert  alert-primary text-center font-size-1 rounded-0 mb-0" role="alert">

        公告：本人已经全职进行52ABP网站的维护和研发，近期会推出52ABP-PRO的新版本。具体内容和规划可见<a class="font-weight-semi-bold " href="https://www.52abp.com/BlogDetails/10011">说明须知。</a>
    </div>*@