<page-header [title]="l('ProductSecretKey')"></page-header>

<nz-card [nzBordered]="false">
  <div class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSearch [nzSuffix]="suffixSearchButton">
              <input type="text" nz-input [(ngModel)]="filterText" (keyup.enter)="refresh()" name="filterText"
                [placeholder]="l('SearchWithThreeDot')" />
              <ng-template #suffixSearchButton>
                <button nz-button nzType="primary" nzSearch type="submit" (click)="refresh()">
                  <i class="iconfont icon-search"></i>
                </button>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="mb-md">
    <!-- 操作常规按钮部分 如： 添加、批量删除、导出Excel表 -->
    <nz-row nzGutter="8">
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.ProductSecretKey.Create')"
          (click)="createOrEdit()">
          <i class="iconfont icon-plus"></i> <span> {{ l('Create') }} </span>
        </button>
        <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.ProductSecretKey.BatchDelete')"
          (click)="batchDelete()">
          <i class="iconfont icon-delete"></i>
          <span> {{ l('BatchDelete') }} </span>
        </button>
        <button nz-button nzType="default" *ngIf="isGranted('Pages.ProductSecretKey.ExportToExcel')"
          (click)="exportToExcel()">
          <i class="iconfont icon-file-excel"></i>
          <span> {{ l('ExportToExcel') }} </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 复选框提示的内容数据部分 -->
  <table-checkbox-panel [selectLength]="selectedDataItems.length" (onClear)="restCheckStatus(dataList)"
    (onRefresh)="refreshGoFirstPage()"></table-checkbox-panel>

  <!-- 实体的表格内容 -->

  <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
    [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()"
    [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
    [nzShowTotal]="showTotalTemplate" [nzFrontPagination]="false" [nzScroll]="{ x: '1300px', y: '550px' }">
    <!-- 暂无数据组件 -->
    <ng-template #noDataTemplate>
      <no-data></no-data>
    </ng-template>
    <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
    <ng-template #showTotalTemplate let-total let-range="range">
      {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
    </ng-template>
    <!-- 表头 -->
    <thead (nzSortChange)="gridSort($event)">
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
          [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)" nzLeft="0px"
          *ngIf="isGranted('Pages.ProductSecretKey.BatchDelete')"></th>
        <th nzShowSort nzSortKey="SecretKey" nzWidth="300px">
          <span>卡密</span>
        </th>
        <th nzShowSort nzSortKey="ProductCode" nzWidth="180px">
          <span>产品编码</span>
        </th>
        <th nzShowSort nzSortKey="Used" nzWidth="80px">
          <span>已使用</span>
        </th>
        <th nzShowSort nzSortKey="InSale" nzWidth="80px">
          <span>销售中</span>
        </th>
        <th nzShowSort nzSortKey="UserName" nzWidth="300px">
          <span>使用者</span>
        </th>
        <th nzShowSort nzSortKey="OrderCode"><span>订单编码</span></th>
        <th nzWidth="160px" class="text-center" nzRight="0px">
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <!-- 表格内容 -->
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <!-- 全选框 -->
        <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)" nzLeft="0px"
          *ngIf="isGranted('Pages.ProductSecretKey.BatchDelete')"></td>

        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.secretKey">
              {{ item.secretKey }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.productCode">
              {{ item.productCode }}
            </span>
          </ellipsis>
        </td>
        <td [innerHTML]="item.used | yn"></td>
        <td [innerHTML]="item.inSale | yn"></td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.userName">
              {{ item.userName }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.orderCode">
              {{ item.orderCode }}
            </span>
          </ellipsis>
        </td>

        <td nzRight="0px">
          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.ProductSecretKey.Edit') && !item.used && !item.inSale">
            <a (click)="bindToUser(item)"> <i class="iconfont icon-edit mr-sm"></i> <span>使用</span> </a>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-container>
          <!-- 删除 -->
          <ng-container *ngIf="isGranted('Pages.ProductSecretKey.Delete') && !item.used && !item.inSale">
            <a nz-popconfirm [nzTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('Delete') }}</span>
              </a>
            </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
