<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <i class="iconfont icon-medicine-box mr-sm"></i>
      <span *ngIf="entity.id">{{ l('Edit') }}</span>
      <span *ngIf="!entity.id">{{ l('Create') }}</span>
    </div>
  </div>
  <!-- 模态框内容 -->
  <fieldset>
    <!-- 提示信息 -->
    <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->

    <!-- 名称 : 友情链接分类 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
        {{ l('BlogrollTypeName') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="l('BlogrollTypeNameInputDesc')"
          [(ngModel)]="entity.blogrollTypeId" name="blogrollTypeId" #blogrollTypeId="ngModel">
          <nz-option *ngFor="let item of blogrollTypeList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--名称 : Name 的控件范围结束=END= -->

    <!-- 名称 : Name 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
        {{ l('BlogrollName') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <input nz-input name="name" #name="ngModel" [(ngModel)]="entity.name" [placeholder]="l('BlogrollNameInputDesc')"
          required />

        <!-- 校验 -->
        <nz-form-control nzExtra *ngIf="name.control.dirty && name.control.errors">
          <ng-container *ngIf="name.control.hasError('required')">{{ l('ThisFieldIsRequired') }}</ng-container>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <!--名称 : Name 的控件范围结束=END= -->
    <!-- Url : Url 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzFor="url">
        {{ l('BlogrollUrl') }}
      </nz-form-label>

      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <input nz-input name="url" #url="ngModel" [(ngModel)]="entity.url" [placeholder]="l('BlogrollUrlInputDesc')" />

        <!-- 校验 -->
        <nz-form-control nzExtra *ngIf="url.control.dirty && url.control.errors">
          <ng-container *ngIf="url.control.hasError('required')">{{ l('ThisFieldIsRequired') }}</ng-container>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <!--Url : Url 的控件范围结束=END= -->
    <!-- 白名单 : Except 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="except">
        {{ l('Except') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <nz-switch name="except" #except="ngModel" [(ngModel)]="entity.except" [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
        <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
      </nz-form-control>
    </nz-form-item>
    <!--白名单 : Except 的控件范围结束=END= -->
    <!-- 推荐 : Recommend 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="recommend">
        {{ l('Recommend') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <nz-switch name="recommend" #recommend="ngModel" [(ngModel)]="entity.recommend"
          [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
        <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
      </nz-form-control>
    </nz-form-item>
    <!--推荐 : Recommend 的控件范围结束=END= -->
    <!-- 权重 : Weight 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight">
        {{ l('Weight') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <nz-input-number name="weight" #weight="ngModel" [(ngModel)]="entity.weight" [nzMin]="0" [nzMax]="1000000"
          [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <!--权重 : Weight 的控件范围结束=END= -->
    <!-- Logo : Logo 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logo">
        {{ l('BlogrollLogo') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <input nz-input name="logo" #logo="ngModel" [(ngModel)]="entity.logo"
          [placeholder]="l('BlogrollLogoInputDesc')" />
      </nz-form-control>
    </nz-form-item>
    <!--Logo : Logo 的控件范围结束=END= -->
    <!-- 图标 : IconName 的控件范围=Start= -->
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="iconName">
        {{ l('IconName') }}
      </nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--  控件位置 -->
        <nz-input-group [nzAddOnAfter]="iconNameSelectBtn">
          <input nz-input nz-popover [nzPopoverTitle]="l('Preview')" [nzPopoverContent]="iconNameSelectContent"
            name="iconName" #iconName="ngModel" [(ngModel)]="entity.iconName" [placeholder]="l('iconNameInputDesc')"
            readonly />
          <ng-template #iconNameSelectBtn>
            <div dialog-img (selected)="_change($event, 'iconName')">
              {{ l('PleaseSelect') }}
            </div>
          </ng-template>
          <ng-template #iconNameSelectContent style="max-width: height 180px;">
            <img *ngIf="entity.iconName" [src]="entity.iconName" />
            <span *ngIf="!entity.iconName">
              {{ l('NotSelected') }}
            </span>
          </ng-template>
        </nz-input-group>

        <!--  控件位置 -->
        <input nz-input name="iconName" #iconName="ngModel" [(ngModel)]="entity.iconName"
          [placeholder]="l('IconNameInputDesc')" />
      </nz-form-control>
    </nz-form-item>
    <!--图标 : IconName 的控件范围结束=END= -->
  </fieldset>
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <i class="iconfont icon-close-circle"></i> {{ l('Cancel') }}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid || saving"
      [nzLoading]="saving">
      <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
  </div>
</form>
