<page-header [title]="l('ProductOrder')"></page-header>

<nz-card [nzBordered]="false">
  <div class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSearch [nzSuffix]="suffixSearchButton">
              <input type="text" nz-input [(ngModel)]="filterText" (keyup.enter)="refresh()" name="filterText"
                [placeholder]="l('SearchWithThreeDot')" />
              <ng-template #suffixSearchButton>
                <button nz-button nzType="primary" nzSearch type="submit" (click)="refresh()">
                  <i class="iconfont icon-search"></i>
                </button>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="mb-md">
    <!-- 操作常规按钮部分 如： 添加、批量删除、导出Excel表 -->
    <nz-row nzGutter="8">
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.Order.BatchDelete')" (click)="batchDelete()">
          <i class="iconfont icon-delete"></i>
          <span> {{ l('BatchDelete') }} </span>
        </button>
        <button nz-button nzType="default" *ngIf="isGranted('Pages.Order.ExportToExcel')" (click)="exportToExcel()">
          <i class="iconfont icon-file-excel"></i>
          <span> {{ l('ExportToExcel') }} </span>
        </button>
        <button nz-button *ngIf="isGranted('Pages.NeteaseOrderInfo.Query')" (click)="showStatistics()">
          <i class="iconfont icon-table"></i>
          <span> {{ l('ViewStatistics') }} </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 复选框提示的内容数据部分 -->
  <table-checkbox-panel [selectLength]="selectedDataItems.length" (onClear)="restCheckStatus(dataList)"
    (onRefresh)="refreshGoFirstPage()"></table-checkbox-panel>

  <!-- 实体的表格内容 -->

  <nz-table #ajaxTable nzBordered="true" [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
    [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()"
    (nzPageSizeChange)="refresh()" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
    [nzShowTotal]="showTotalTemplate" [nzFrontPagination]="false" [nzScroll]="{ x: '1300px', y: '550px' }">
    <!-- 暂无数据组件 -->
    <ng-template #noDataTemplate>
      <no-data></no-data>
    </ng-template>
    <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
    <ng-template #showTotalTemplate let-total let-range="range">
      {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
    </ng-template>
    <!-- 表头 -->
    <thead (nzSortChange)="gridSort($event)" class="text-center">
      <tr>
        <th nzWidth="40px" nzAlign="center" nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
          [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)"
          *ngIf="isGranted('Pages.Order.BatchDelete')"></th>
        <th nzWidth="200px" nzShowSort nzSortKey="OrderCode">
          <span>订单编码</span>
        </th>
        <th class="text-center" nzWidth="200px" nzShowSort nzSortKey="UserName">
          <span>{{ l('UserName') }}</span>
        </th>
        <th nzWidth="200px" nzShowSort nzSortKey="ProductName">
          <span>{{ l('ProductName') }}</span>
        </th>
        <!-- <th  nzShowSort nzSortKey="ProductCode">
                  <span>{{ l("ProductCode") }}</span>
                </th> -->
        <th nzWidth="200px" class="text-center" nzShowSort nzSortKey="Price">
          <span>{{ l('ProductPrice') }}</span>
        </th>
        <th class="text-center" nzWidth="200px" nzShowSort nzSortKey="Discounts">
          <span>{{ l('Discounts') }}</span>
        </th>
        <th class="text-center" nzWidth="200px" nzShowSort nzSortKey="ActualPayment">
          <span>{{ l('ActualPayment') }}</span>
        </th>
        <th class="text-center" nzWidth="200px" nzShowSort nzSortKey="Status">
          <span>{{ l('Status') }}</span>
        </th>
        <th class="text-center" nzShowSort nzSortKey="ProductCreateProjectCount" nzWidth="200px">
          <span>产品下载次数</span>
        </th>
        <th class="text-center" nzShowSort nzWidth="200px" nzSortKey="ProductIndate">
          <span>{{ l('CreationTime') }}</span>
        </th>
        <th nzWidth="200px" class="text-center">
          <span>{{ l('Actions') }}</span>
        </th>
      </tr>
    </thead>
    <!-- 表格内容 -->
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <!-- 全选框 -->
        <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"
          *ngIf="isGranted('Pages.Order.BatchDelete')">
        </td>
        <td nzLeft="0px" class="text-center">
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.orderCode">
              {{ item.orderCode }}
            </span>
          </ellipsis>
        </td>
        <td class="text-center">
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.userName">
              {{ item.userName }}
            </span>
          </ellipsis>
        </td>
        <td class="text-center">
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.productName">
              {{ item.productName }}
            </span>
          </ellipsis>
        </td>
        <!-- <td >
                  <ellipsis lines="1" tooltip>
                    <span nz-tooltip [nzTitle]="item.productCode">
                      {{ item.productCode }}
                    </span>
                  </ellipsis>
                </td> -->
        <td class="text-center">
          <ellipsis lines="1" tooltip>{{ item.price }}</ellipsis>
        </td>
        <td class="text-center">
          <ellipsis lines="1" tooltip>{{ item.discounts }}</ellipsis>
        </td>
        <td class="text-center">
          <ellipsis lines="1" tooltip>{{ item.actualPayment }}</ellipsis>
        </td>
        <td class="text-center">
          <ellipsis lines="1" tooltip>{{ item.statusStr }}</ellipsis>
        </td>

        <td class="text-center">
          <ellipsis lines="1" tooltip>{{ item.productCreateProjectCount }}</ellipsis>
        </td>

        <td class="text-center">
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.creationTime | _moment">
              {{ item.creationTime | _moment }}
            </span>
          </ellipsis>
        </td>

        <td nzRight="0px">
          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.Order.EditPrice')">
            <a (click)="oncEditPrice(item)">
              <i class="iconfont icon-edit mr-sm"></i>
              <span>{{ l('EditPriceOrder') }}</span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-container>

          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.Order.Update')">
            <a (click)="onEdit(item)">
              <i class="iconfont icon-edit mr-sm"></i>
              <span>{{ l('EditOrder') }}</span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-container>
          <!-- 赠送 -->
          <ng-container *ngIf="isGranted('Pages.Order.Present')">
            <a nz-popconfirm [nzTitle]="l('ConfirmOperationWarningMessage')" (nzOnConfirm)="present(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('Present') }}</span>
              </a>
            </a>
          </ng-container>
          <!-- 删除 -->
          <ng-container *ngIf="isGranted('Pages.Order.Delete')">
            <a nz-popconfirm [nzTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('Delete') }}</span>
              </a>
            </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
