 
<!-- Modal -->
<div id="contactusModal" class="js-modal-window u-modal-window position-relative" style="width: 500px;">

    <!-- Modal Close Button -->
    <button type="button" class="close   position-absolute top-0 right-0 z-index-2 p-2" aria-label="Close" onclick="Custombox.modal.close();">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- End Modal Close Button -->
    <div class="card border-0   text-center py-5 px-md-5">
        <div class="card-body">
            <!-- Title -->
            <div class="mb-4">

                <div class="alert alert-warning" role="alert">
                    <i class="far fa-smile-wink"></i>   添加微信请道明来意，谢谢 :wink:

                </div>
            </div>
            <!-- End Title -->


            <img src="~/yoyosoft/images/money-qr/ltmQR.jpg" class="border border-success   mx-auto mb-3   " style="width: 250px;height:250px" />


            <p class="mb-0">期待与您达成合作</p>

        </div>

    </div>
</div>
<!-- End Modal -->