

<div id="moneyPayModal" class="js-modal-window   u-modal-window position-relative" style="width: 700px;">
    <!-- Modal Close Button -->
    <button type="button" class="close   position-absolute top-0 right-0 z-index-2 p-2" aria-label="Close" onclick="Custombox.modal.close();">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- End Modal Close Button -->

    <div class="card border-0   text-center py-5 px-md-5">
        <div class="card-body">
            <!-- Title -->
            <div class="mb-4">
                <h4 class="h1 font-weight-semi-bold mb-1">赞赏</h4>
                <p class="  mb-0">全职维护网站，还请多多支持</p>
            </div>
            <!-- End Title -->

            <img src="~/yoyosoft/images/money-qr/alipay.png" class=" border border-success   mx-auto mb-3 " style="width: 250px;height:250px" />
 
            <img src="~/yoyosoft/images/money-qr/wechatpay.jpg" class="border border-success   mx-auto mb-3   " style="width: 250px;height:250px" />

            <p class="mb-0">感谢您的支持</p>

        </div>


    </div>
</div>