@page
@model L._52ABP.Web.FrontView.Areas.MyFeature.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Page1</title>
</head>
<body>


<h2>myfeature</h2>
</body>
</html>