<page-header [title]="l('DemoManagement')"></page-header>

<!-- 演示功能  地址选择 -->
<nz-card [nzTitle]="l('AddressSelection')">
  <div>
    <x-address-linkage [placeHolder]="l('MouseMovementLoading')"></x-address-linkage>
  </div>

  <div>
    <x-address-linkage [placeHolder]="l('MouseClickLoading')" [isClickOnLoad]="true"></x-address-linkage>
  </div>
</nz-card>

<!-- 演示功能  日期时间 -->
<nz-card [nzTitle]="l('DateAndTime')">
  <nz-date-picker></nz-date-picker>
  <br />
  <nz-month-picker></nz-month-picker>
  <br />
  <nz-year-picker></nz-year-picker>
  <br />
  <nz-range-picker nzShowTime></nz-range-picker>
  <br />
  <nz-week-picker></nz-week-picker>
  <br />
</nz-card>

<!-- 演示功能  日期时间  这里的使用方式完全继承自ng-zorro 所以用相同的方式去用就好-->
<nz-card [nzTitle]="l('DateAndTime')">
  <app-year-picker></app-year-picker>
  <app-week-picker></app-week-picker>
  <app-range-picker></app-range-picker>
  <app-month-picker></app-month-picker>
  <app-date-picker></app-date-picker>

  <app-time-picker [(ngModel)]="time" [nzDefaultOpenValue]="defaultOpenValue"> </app-time-picker>
</nz-card>

<!-- 演示功能 支付Demo -->
<nz-card nzTitle="支付Demo">
  <button nz-button nzType="primary" (click)="onClickPay()">赏口饭</button>
</nz-card>

<!-- 演示功能  markdown编辑器 -->
<nz-card [nzTitle]="l('DemoMarkDown')">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="l('FormIsNotValidMessage')">
        <nz-input-group>
          <simplemde formControlName="content"></simplemde>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">{{ l('Save') }}</button>
        <button nz-button nzType="default" (click)="resetForm($event)">
          {{ l('Reset') }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card [nzTitle]="l('DemoMarkDown')">
  <div id="MakrdownEditor"></div>
</nz-card>

<!-- 演示功能  富文本编辑器 -->
<!-- <nz-card [nzTitle]="l('RichTextEditor')">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="l('FormIsNotValidMessage')">
      <nz-input-group nzPrefixIcon="user">
        <div style="height: 26rem;">
          <quill-editor name="content" [(ngModel)]="html"></quill-editor>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button (click)="showQuillEditor()" nzType="primary">
        {{ l('Preview') }}
      </button>
    </nz-form-control>
  </nz-form-item>
</nz-card> -->

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{ l('预览') }}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div [innerHTML]="html" style="height: 26rem;"></div>
</nz-modal>

<!-- 演示功能 导出 -->
<nz-card [nzTitle]="l('ExportToExcel')">
  <nz-row nzGutter="8">
    <nz-col nzMd="20" nzSm="12" class="btn-gutter">
      <button nz-button nzType="default" (click)="exportToExcel()">
        <!-- <i class="iconfont icon-file-excel"></i> -->
        <i class="iconfont icon-file-excel"></i>
        <span>
          {{ l('ExportToExcel') }}
        </span>
      </button>
    </nz-col>
  </nz-row>
  <!-- 表格内容 -->
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>{{ l('UserName') }}</th>
        <th>{{ l('Roles') }}</th>
        <th>{{ l('CreationTime') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.userName }}</td>
        <td>
          <ellipsis lines="1" tooltip>
            <span>
              <nz-tag *ngFor="let role of data.roles">
                {{ role.roleName }}
              </nz-tag>
            </span>
          </ellipsis>
        </td>
        <td>{{ data.creationTime | _moment }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
