<ng-container [ngSwitch]="argsObject.type">
    <!-- 单选 -->
    <ng-container *ngSwitchCase="'default'">
        <nz-select nzShowSearch
                   [nzAllowClear]="argsObject.allowClear"
                   [nzPlaceHolder]="placeholder"
                   [nzDisabled]="disabled"
                   [(ngModel)]="value"
                   (ngModelChange)="emitValueChange($event)">
            <nz-option *ngFor="let item of souceData"
                       [nzLabel]="l(item.label)"
                       [nzValue]="item.value">
            </nz-option>
        </nz-select>
    </ng-container>
    <!-- 多选 -->
    <ng-container *ngSwitchCase="'mulit'">
        <nz-select
                [nzAllowClear]="argsObject.allowClear"
                [nzMaxTagCount]="argsObject.maxTagCount"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                [nzPlaceHolder]="placeholder"
                [nzDisabled]="disabled"
                [(ngModel)]="value"
        >
            <nz-option *ngFor="let item of souceData"
                       [nzLabel]="l(item.label)"
                       [nzValue]="item.value">
            </nz-option>
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected</ng-template>
    </ng-container>
    <!-- 树形选择 -->
    <ng-container *ngSwitchCase="'tree'">
        <nz-tree-select
                nzShowSearch
                [nzAllowClear]="argsObject.allowClear"
                [nzNodes]="souceData"
                [nzPlaceHolder]="placeholder"
                [nzDisabled]="disabled"
                [(ngModel)]="value"
                (ngModelChange)="emitValueChange($event)"
        >
        </nz-tree-select>
    </ng-container>
    <!-- 树形选择-多选 -->
    <ng-container *ngSwitchCase="'tree-mulit'">
        <nz-tree-select
                nzShowSearch
                nzCheckable
                [nzNodes]="souceData"
                [nzPlaceHolder]="placeholder"
                [nzDisabled]="disabled"
                [nzMaxTagCount]="argsObject.maxTagCount"
                [(ngModel)]="value"
                (ngModelChange)="emitValueChange($event)"
        >
        </nz-tree-select>
    </ng-container>

</ng-container>
