<!-- header -->
<div class='modal-header'>
    <div class='modal-title'>{{l('EditOrder')}}</div>
</div>


<!-- body -->
<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <nz-form-item nz-row>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">{{ l('产品的有效期 单位(天)') }}</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input name="actualPaymentInput" #actualPaymentInput="ngModel" [(ngModel)]="order.productIndate"
                [placeholder]="l('产品的有效期 单位(天)')" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">{{ l('订单状态') }}</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <sample-select style="width: 100%;" name="type" #type="ngModel" [(ngModel)]="order.status"
                [args]="orderStatusEnum">
            </sample-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">{{ l('订单类型') }}</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <sample-select style="width: 100%;" name="type" #type="ngModel" [(ngModel)]="order.orderSourceType"
                [args]="orderSourceType">
            </sample-select>
        </nz-form-control>
    </nz-form-item>
</form>


<!-- 功能按钮 -->
<div class='modal-footer'>
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
        <i class="iconfont icon-close-circle-o"></i> {{ l('Cancel') }}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid || saving"
        [nzLoading]="saving">
        <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
</div>