<page-header [title]="l('Notifications')"></page-header>

<!-- 表格部分 -->
<nz-card [nzBordered]="false">
  <!-- 检索的表单内容 -->
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="refreshGoFirstPage()" class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="12">
        <nz-form-item>
          <nz-form-control>
            <nz-select
              name="readState"
              style="width: 100%;"
              [(ngModel)]="filter.state"
              [nzPlaceHolder]="l('NotificationStates')"
              (ngModelChange)="refresh()"
              nzAllowClear
            >
              <nz-option *ngFor="let item of stateList" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSm="12"> </nz-col>
    </nz-row>
  </form>

  <div class="mb-md">
    <!-- 操作按钮 -->
    <nz-row nzGutter="8">
      <!-- 添加、批量删除、导出Excel表等按钮 -->
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button
          nz-button
          [nzType]="'primary'"
          *ngIf="isGranted('Pages.Administration.Roles.Create')"
          (click)="setAllUserNotificationsAsRead()"
        >
          <!-- <i nz-icon type="paper-clip" theme="outline"></i> -->
          <i class="iconfont icon-attachment"></i>
          <span>
            {{ l('SetAllAsRead') }}
          </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 数据部分 -->
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        <a (click)="refresh()">
          {{ l('Refresh') }}
        </a>
      </ng-template>
    </nz-alert>
  </div>
  <!-- 表格 -->
  <div class="mb-md">
    <nz-table
      #ajaxTable
      nzShowSizeChanger
      [nzData]="dataList"
      [nzTotal]="totalItems"
      [(nzPageIndex)]="pageNumber"
      [(nzPageSize)]="pageSize"
      [nzLoading]="isTableLoading"
      (nzPageIndexChange)="pageNumberChange()"
      (nzPageSizeChange)="refresh()"
      [nzFrontPagination]="false"
      [nzNoResult]="noDataTemplate"
      [nzShowTotal]="showTotalTemplate"
    >
      <!-- 暂无数据 -->
      <ng-template #noDataTemplate>
        <no-data></no-data>
      </ng-template>
      <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
      <ng-template #showTotalTemplate let-total let-range="range">
        {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
      </ng-template>
      <!-- 表头 -->
      <thead>
        <tr>
          <th>
            <span>{{ l('NotificationContent') }}</span>
          </th>
          <th class="text-center">
            <span>{{ l('CreationTime') }}</span>
          </th>
          <th class="text-center">
            <span>{{ l('NotificationStates') }}</span>
          </th>

          <th nzWidth="230px" class="text-center">
            <span>{{ l('Actions') }}</span>
          </th>
        </tr>
      </thead>
      <!-- 表格内容 -->

      <tbody>
        <tr *ngFor="let item of ajaxTable.data">
          <td>
            <ellipsis lines="1">
              <span
                *ngIf="!item.formattedNotification.url"
                nz-tooltip
                [nzTooltipTitle]="item.formattedNotification.text"
              >
                {{ item.formattedNotification.text }}
              </span>
              <span
                *ngIf="item.formattedNotification.url"
                nz-tooltip
                [nzTooltipTitle]="item.formattedNotification.text"
              >
                <a [href]="item.formattedNotification.url">{{ item.formattedNotification.text }}</a>
              </span>
            </ellipsis>
          </td>
          <td class="text-center">
            {{ item.formattedNotification.creationTime | _moment }}
          </td>

          <td class="text-center" [innerHTML]="item.formattedNotification.state !== 'UNREAD' | yn"></td>

          <td class="text-center">
            <!-- 编辑 -->
            <ng-container *ngIf="item.formattedNotification.state === 'UNREAD'">
              <a (click)="setAsRead(item)">
                <!-- <i nz-icon type="paper-clip" theme="outline"></i> -->
                <i class="iconfont icon-attachment"></i>
                <span>{{ l('SetAsRead') }}</span>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
            </ng-container>
            <!-- 删除 -->
            <ng-container *ngIf="item.formattedNotification.state !== 'UNREAD'">
              <a
                nz-popconfirm
                [nzPopconfirmTitle]="l('ConfirmDeleteWarningMessage')"
                (nzOnConfirm)="delete(item)"
                [nzOkText]="l('Ok')"
                [nzCancelText]="l('Cancel')"
              >
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('Delete') }}</span>
              </a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
