<page-header [title]="l('ManageCourseCategory')"></page-header>
<div nz-row [nzGutter]="32">
    <div nz-col nzMd="12" nzLg="9">
        <nz-card [nzTitle]="l('CourseCategory')" [nzExtra]="extraTpl">
            <ng-template #extraTpl>
                <button (click)="createOrEdit()" nz-button nzSize="small">{{ l('Create') }}</button>
                <button (click)="refresh()" nz-button nzSize="small">刷新</button>
            </ng-template>
            <nz-tree [nzData]="categoriesdata" nzDraggable nzBlockNode (nzClick)="show($event)"
                     (nzContextMenu)="showContextMenu($event, contextMenu)" [nzBeforeDrop]="move"
                     [nzTreeTemplate]="nzTreeTemplate"
            >
                <ng-template #nzTreeTemplate let-node let-origin="origin">
                    <nz-badge [nzCount]="origin.courseCount">
                        <div>
                            {{ node.title }}
                        </div>
                    </nz-badge>
                </ng-template>
            </nz-tree>

            <ng-template #contextMenu>
                <ul nz-menu nzInDropDown style="position: fixed; ">
                    <li nz-menu-item (click)="createOrEdit(item.id)">{{ l('Edit') }}</li>
                    <li nz-menu-item [nzDisabled]="delDisabled">
                        <div *ngIf="!delDisabled" nz-popconfirm [nzPopconfirmTitle]="delMsg"
                             (nzOnConfirm)="delete(item)">
                            删除
                        </div>
                        <div *ngIf="delDisabled">删除</div>
                    </li>
                    <li nz-menu-item (click)="addSubCourseCategory(item.id)">添加子项</li>
                </ul>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col nzMd="12" nzLg="15">
        <nz-card [nzTitle]="nzTitleTemplate">
            <ng-template #nzTitleTemplate>
                <ellipsis lines="1" style="width: 400px">
                    <i class="iconfont icon-team "></i>
                    <span *ngIf="item">{{ item.name }}</span>
                </ellipsis>
            </ng-template>

            <nz-tabset>
                <nz-tab [nzTitle]="l('Course')">
                    <app-coursecate-course-list-panel [courseCatedto]="item"></app-coursecate-course-list-panel>
                </nz-tab>
                <!-- <nz-tab [nzTitle]="l('Roles')">
                 </nz-tab> -->
            </nz-tabset>
        </nz-card>
    </div>
</div>
