<div class="kt-error_container">
    <span class="kt-error_title">
        <h1>
            404
        </h1>
    </span>
    <p class="kt-error_subtitle">
        @L("OopsYouAreLost")
    </p>
    <p class="kt-error_description">
        @L("WeCanNotFindThePage")<br>
        <a href="@Url.Action("Index", "Home")" class="link">@L("HomePage")</a>.
    </p>
</div>