@page "/"


<Banner></Banner>


    <div class="container space-1  ">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>


        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-success btn-pill mb-2">专栏推荐</span>
            <h2 class="font-weight-medium">See how Front is helping teams get organized and work smarter</h2>
        </div>
    </div>

     