<!-- ========== FOOTER ========== -->
<footer class="bg-navy">
    <div class="container">
        <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
            <div class="row justify-content-lg-between">
                <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
                    <!-- Logo -->
                    <div class="mb-4">
                        <h3 class="h6 text-white pl-5 ">微信扫一扫</h3>

                       

                            <img class="brand align-items-center" src="~/yoyosoft/images/money-qr/web_wechat_QR.jpg" title="微信公众号：角落的白板报" alt="微信公众号：角落的白板报">
                       
                    </div>
                    <!-- End Logo -->
                  
                </div>

                 
            </div>
        </div>

        <hr class="opacity-xs my-0">

        <div class="space-1">
             
           
            <!-- Copyright -->
            <div class="w-md-75 text-lg-center mx-lg-auto">
                <p class="text-white opacity-sm small">
                    ©  &copy; Copyrights @Clock.Now.Year <a href="https://www.yoyomooc.com/" class="text-primary" target="_blank">yoyomooc.com</a> All Rights Reserved .  版本: v@(AppVersionHelper.Version) 发布时间：[@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]

                </p>


                <p class="text-white opacity-sm small">
                    @L("CookiesInfoTips")
                </p>

                <p class="text-white opacity-sm small">
                    <a class="text-white" href="http://www.miitbeian.gov.cn" target="_blank">
                        备案信息：蜀ICP备16022114号 | 成都笑园比领网络科技有限公司
                    </a>
                    |
                    <a class="text-white" href="https://analytics.google.com/analytics/web/#/report-home/a165340233w231100601p217336588" target="_blank">谷歌分析</a>

                </p>







            </div>
            <!-- End Copyright -->
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->
<!-- ========== FOOTER ========== -->
@*@await Html.PartialAsync("~/Pages/Layout/_Footer-bottom.cshtml")*@
<!-- ========== END FOOTER ========== -->
