@using LTMCompanyName.YoyoCmsTemplate.Web.Mvc.Areas.AreasAdminName.ViewModels.Common
@model LTMCompanyName.YoyoCmsTemplate.Web.Mvc.Areas.AreasAdminName.ViewModels.Common.OrganizationUnitTreeItemModel
@{
    var organizationUnits = Model.EditModel.AllOrganizationUnits.Where(p => p.ParentId == Model.ParentId || (!p.ParentId.HasValue && !Model.ParentId.HasValue)).ToList();
    if (organizationUnits.Any())
    {
        <ul>
            @foreach (var organizationUnit in organizationUnits)
            {
                var selected = Model.EditModel.MemberedOrganizationUnits.Contains(organizationUnit.Code);
                <li id="@organizationUnit.Id" class="jstree-open" data-jstree='{"selected": @selected.ToString().ToLower()}'>
                    @organizationUnit.DisplayName
                    @await Html.PartialAsync("~/Areas/AreasAdminName/Views/Common/Trees/_OrganizationUnitTreeItem.cshtml", new OrganizationUnitTreeItemModel(Model.EditModel, organizationUnit.Id))
                </li>
            }
        </ul>
    }
}