@using LTMCompanyName.YoyoCmsTemplate.Web.Mvc.Areas.AreasAdminName.ViewModels.Common
@model IPermissionsEditViewModel

<div class="form-group">
    <input id="PermissionTreeFilter" type="text" class="form-control" placeholder="@L("SearchWithThreeDot")">
</div>
<div class="permission-tree">
    @await Html.PartialAsync("~/Areas/AreasAdminName/Views/Common/Trees/_PermissionTreeItem.cshtml", new PermissionTreeItemModel(Model, null))
</div>