<div class='modal-header'>
    <div class='modal-title'>{{l('Details')}}</div>
</div>

<nz-spin [nzSpinning]="!entity">
    <div *ngIf="entity">
        <h3>{{l("OrderInfo")}}</h3>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OrderPlatform")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.platform}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OrderInQQChecked")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
        <span>
          <span nz-tooltip *ngIf="entity.isChecked">
            是
            <nz-badge nzStatus="success"></nz-badge>
          </span>
          <span nz-tooltip *ngIf="!entity.isChecked">
            否
            <nz-badge nzStatus="default"></nz-badge>
          </span>
        </span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OrderInGiteeChecked")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
        <span>
          <span nz-tooltip *ngIf="entity.isGiteeChecked">
            是
            <nz-badge nzStatus="success"></nz-badge>
          </span>
          <span nz-tooltip *ngIf="!entity.isGiteeChecked">
            否
            <nz-badge nzStatus="default"></nz-badge>
          </span>
        </span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("RealityAmount")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.realityAmount}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("TransactionStatus")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
        <span>
          {{entity.transactionStatus}}
            <nz-badge nzStatus="success" *ngIf="entity.transactionStatus==='交易成功'"></nz-badge>
          <nz-badge nzStatus="default" *ngIf="entity.transactionStatus!=='交易成功'"></nz-badge>
        </span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OrderNo")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.orderNo}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OrderDate")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.orderDate | _moment}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("ProductType")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.productType}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("ProductName")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.productName}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("ProductDes")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.productDes}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("OriginalPrice")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.originalPrice}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("TransactionAmount")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.transactionAmount}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("BuyerName")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.buyerName}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("GeneralizeSource")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.generalizeSource}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("GeneralizeName")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.generalizeName}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("CardAmount")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.cardAmount}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("PlatformHB")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.platformHB}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("PracticalAmount")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.practicalAmount}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("PayType")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.payType}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("ThirdPartyPayServiceCharge")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.thirdPartyPayServiceCharge}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("GeneralizeServiceCharge")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.generalizeServiceCharge}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("PlatformServiceCharge")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.platformServiceCharge}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("TransactionSuccessDate")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.transactionSuccessDate ? (entity.transactionSuccessDate| _moment) : ''}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("SettleAccounts")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.settleAccounts}}</span>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
                <label>{{l("SettleAccountsDate")}}:</label>
            </div>
            <div nz-col [nzSpan]="10">
                <span>{{entity.settleAccountsDate ? (entity.settleAccountsDate|_moment) : ''}}</span>
            </div>
        </div>

    </div>

</nz-spin>

<!-- 功能按钮 -->
<div class='modal-footer'>
    <button nz-button type="button" (click)="close()">
        {{l("Cancel")}}
    </button>
</div>
