@using LTMCompanyName.YoyoCmsTemplate.Web.Portal.Areas.ViewModels.Common.Modals
 @await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("MODAL HEADER"))



<div class="modal-body">
    TODO: Modal Content
</div>

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

 