<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input [placeholder]="l('SearchWithThreeDot')" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>


<nz-table #basicTable [nzData]="listOfData.items">
  <thead>
    <tr>
      <th>{{ l('Name') }}</th>
      <th>{{ l('Select') }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>
        <a (click)="selectItem(data)">
          {{ l('NoData') }}
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
