<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <i class="iconfont icon-medicine-box mr-sm"></i>
      <span *ngIf="entity.id">{{ l('Edit') }}</span>
      <span *ngIf="!entity.id">{{ l('Create') }}</span>
    </div>
  </div>
  <!-- 模态框内容 -->
  <fieldset>
    <!-- 提示信息 -->
    <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="organizationId">{{
        l('OrganizationId')
      }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="organizationId" #organizationId="ngModel" [(ngModel)]="entity.organizationId"
          [placeholder]="l('OrganizationId')" required />

        <!-- 校验 -->
        <nz-form-control nzExtra *ngIf="organizationId.control.dirty && organizationId.control.errors">
          <ng-container *ngIf="organizationId.control.hasError('required')">{{ l('CanNotNull') }}</ng-container>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired nzFor="orderNumber">{{ l('OrderNumber') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="orderNumber" #orderNumber="ngModel" [(ngModel)]="entity.orderNumber"
          [placeholder]="l('OrderNumber')" required />

        <!-- 校验 -->
        <nz-form-control nzExtra *ngIf="orderNumber.control.dirty && orderNumber.control.errors">
          <ng-container *ngIf="orderNumber.control.hasError('required')">{{ l('CanNotNull') }}</ng-container>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="courseTitle">{{ l('CourseTitle') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="courseTitle" #courseTitle="ngModel" [(ngModel)]="entity.courseTitle"
          [placeholder]="l('CourseTitle')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="courseType">{{ l('CourseType') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="courseType" #courseType="ngModel" [(ngModel)]="entity.courseType"
          [placeholder]="l('CourseType')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="creationTime">{{ l('CreationTime') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="creationTime" #creationTime="ngModel" [(ngModel)]="entity.creationTime"
          [placeholder]="l('CreationTime')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="purchaseTime">{{ l('PurchaseTime') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="purchaseTime" #purchaseTime="ngModel" [(ngModel)]="entity.purchaseTime"
          [placeholder]="l('PurchaseTime')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="uIn">{{ l('UIn') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="uIn" #uIn="ngModel" [(ngModel)]="entity.uIn" [placeholder]="l('UIn')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickName">{{ l('NickName') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="nickName" #nickName="ngModel" [(ngModel)]="entity.nickName"
          [placeholder]="l('NickName')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tradingStatus">{{ l('TradingStatus') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="tradingStatus" #tradingStatus="ngModel" [(ngModel)]="entity.tradingStatus"
          [placeholder]="l('TradingStatus')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mobileNumber">{{ l('MobileNumber') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="mobileNumber" #mobileNumber="ngModel" [(ngModel)]="entity.mobileNumber"
          [placeholder]="l('MobileNumber')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="recipientPhone">{{ l('RecipientPhone') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="recipientPhone" #recipientPhone="ngModel" [(ngModel)]="entity.recipientPhone"
          [placeholder]="l('RecipientPhone')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="recipientName">{{ l('RecipientName') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="recipientName" #recipientName="ngModel" [(ngModel)]="entity.recipientName"
          [placeholder]="l('RecipientName')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="recipientAddress">{{ l('RecipientAddress') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="recipientAddress" #recipientAddress="ngModel" [(ngModel)]="entity.recipientAddress"
          [placeholder]="l('RecipientAddress')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tradeType">{{ l('TradeType') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="tradeType" #tradeType="ngModel" [(ngModel)]="entity.tradeType"
          [placeholder]="l('TradeType')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="usersPay">{{ l('UsersPay') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="usersPay" #usersPay="ngModel" [(ngModel)]="entity.usersPay"
          [placeholder]="l('UsersPay')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="platformSubsidies">{{ l('PlatformSubsidies') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="platformSubsidies" #platformSubsidies="ngModel" [(ngModel)]="entity.platformSubsidies"
          [placeholder]="l('PlatformSubsidies')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="refundAmount">{{ l('RefundAmount') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="refundAmount" #refundAmount="ngModel" [(ngModel)]="entity.refundAmount"
          [placeholder]="l('RefundAmount')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amountPaid">{{ l('AmountPaid') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="amountPaid" #amountPaid="ngModel" [(ngModel)]="entity.amountPaid"
          [placeholder]="l('AmountPaid')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="settlementAmount">{{ l('SettlementAmount') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="settlementAmount" #settlementAmount="ngModel" [(ngModel)]="entity.settlementAmount"
          [placeholder]="l('SettlementAmount')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="settlementRatio">{{ l('SettlementRatio') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="settlementRatio" #settlementRatio="ngModel" [(ngModel)]="entity.settlementRatio"
          [placeholder]="l('SettlementRatio')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="channelFee">{{ l('ChannelFee') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="channelFee" #channelFee="ngModel" [(ngModel)]="entity.channelFee"
          [placeholder]="l('ChannelFee')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="trafficConversionFee">{{ l('TrafficConversionFee') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="trafficConversionFee" #trafficConversionFee="ngModel"
          [(ngModel)]="entity.trafficConversionFee" [placeholder]="l('TrafficConversionFee')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="appleShares">{{ l('AppleShares') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="appleShares" #appleShares="ngModel" [(ngModel)]="entity.appleShares"
          [placeholder]="l('AppleShares')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="distributorShare">{{ l('DistributorShare') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="distributorShare" #distributorShare="ngModel" [(ngModel)]="entity.distributorShare"
          [placeholder]="l('DistributorShare')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="settlementStatus">{{ l('SettlementStatus') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="settlementStatus" #settlementStatus="ngModel" [(ngModel)]="entity.settlementStatus"
          [placeholder]="l('SettlementStatus')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isIosOrder">{{ l('IsIosOrder') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="isIosOrder" #isIosOrder="ngModel" [(ngModel)]="entity.isIosOrder">{{
          l('IsIosOrder')
        }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isDistributorOrder">{{ l('IsDistributorOrder') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="isDistributorOrder" #isDistributorOrder="ngModel"
          [(ngModel)]="entity.isDistributorOrder">{{ l('IsDistributorOrder') }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="orderType">{{ l('OrderType') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="orderType" #orderType="ngModel" [(ngModel)]="entity.orderType">{{
          l('OrderType')
        }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remarkOne">{{ l('RemarkOne') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="remarkOne" #remarkOne="ngModel" [(ngModel)]="entity.remarkOne"
          [placeholder]="l('RemarkOne')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remarkTwo">{{ l('RemarkTwo') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="remarkTwo" #remarkTwo="ngModel" [(ngModel)]="entity.remarkTwo"
          [placeholder]="l('RemarkTwo')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remarkThree">{{ l('RemarkThree') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="remarkThree" #remarkThree="ngModel" [(ngModel)]="entity.remarkThree"
          [placeholder]="l('RemarkThree')" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isQqGroupChecked">{{ l('IsQqGroupChecked') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="isQqGroupChecked" #isQqGroupChecked="ngModel" [(ngModel)]="entity.isQqGroupChecked">{{
          l('IsQqGroupChecked')
        }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isGiteeChecked">{{ l('IsGiteeChecked') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="isGiteeChecked" #isGiteeChecked="ngModel" [(ngModel)]="entity.isGiteeChecked">{{
          l('IsGiteeChecked')
        }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="is52AbpChecked">{{ l('Is52AbpChecked') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <label nz-checkbox name="is52AbpChecked" #is52AbpChecked="ngModel" [(ngModel)]="entity.is52AbpChecked">{{
          l('Is52AbpChecked')
        }}</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="platform">{{ l('Platform') }}</nz-form-label>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <input nz-input name="platform" #platform="ngModel" [(ngModel)]="entity.platform"
          [placeholder]="l('Platform')" />
      </nz-form-control>
    </nz-form-item>
  </fieldset>
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <i class="iconfont icon-close-circle-o"></i> {{ l('Cancel') }}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid || saving"
      [nzLoading]="saving">
      <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
  </div>
</form>
