<nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
  <ng-template #message>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="8">
        <span style="margin-left: 6px">
          {{ l('章节总数') }}:
          <strong class="text-primary">{{ courseSectionCount }}</strong>
        </span>
        <nz-divider nzType="vertical"></nz-divider>
        <span>
          {{ l('课时总数') }}:
          <strong class="text-primary">{{ courseClassHourCount }}</strong>
        </span>
      </div>
      <div *ngIf="enabled" nz-col nzSpan="16" style="text-align: right; padding-right: 6px">
        <a (click)="createOrEditSection()">
          <i class="anticon anticon-plus"></i>
          {{ l('添加章节') }}
        </a>
      </div>
    </div>
  </ng-template>
</nz-alert>

<div style="border-left: 2px solid #f1f1f1">
  <div *ngFor="let courseSection of sectionList; let sectionIndex = index">
    <!-- 章 -->
    <div class="my-md">
      <nz-alert [nzType]="'success'" [nzShowIcon]="false" [nzMessage]="directoryMessage">
        <ng-template #directoryMessage>
          <div nz-row nzGutter="16">
            <div nz-col nzSpan="12" (click)="courseSection.isHidden = !courseSection.isHidden">
              <i *ngIf="!courseSection.isHidden" nz-icon nzType="down" nzTheme="outline" class="zj-icon"></i>
              <i *ngIf="courseSection.isHidden" nz-icon nzType="right" nzTheme="outline" class="zj-icon"></i>
              <span>{{ l('章节') }}{{ courseSection.index }}：{{ courseSection.name }}</span>
            </div>
            <div nz-col nzSpan="12" style="text-align: right; padding-right: 6px">
              <a (click)="createOrEditSection(courseSection)">
                <i style="transform: scale(0.68)" class="anticon anticon-edit"></i>&nbsp;
                {{ l('编辑') }}
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <span [hidden]="sectionIndex === 0">
                <a (click)="moveSection(sectionIndex)">
                  <i style="transform: scale(0.68)" class="anticon anticon-up"></i>&nbsp;
                  {{ l('上移') }}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
              </span>

              <span [hidden]="sectionIndex === sectionList.length - 1">
                <a (click)="moveSection(sectionIndex, false)">
                  <i style="transform: scale(0.68)" class="anticon anticon-down"></i>&nbsp;
                  {{ l('下移') }}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
              </span>
              <a (click)="createOrEditClassHour(courseSection)">
                <i style="transform: scale(0.68)" class="anticon anticon-plus"></i>&nbsp;
                {{ l('添加课时') }}
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-dropdown [nzDropdownMenu]="menu">
                {{ l('操作') }}
                <i nz-icon nzType="down"></i>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="deleteSection(courseSection)">
                      <i nz-icon nzType="delete" nzTheme="outline"></i>
                      {{ l('删除') }}
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </a>
            </div>
          </div>
        </ng-template>
      </nz-alert>
    </div>
    <!-- 章下面课时 cdkDropList (cdkDropListDropped)="drop($event, courseSection.id)"  cdkDrag-->

    <div
      [hidden]="courseSection.isHidden"
      class="my-md"
      style="padding-left: 60px"
      *ngFor="let classHour of getCourseClassHours(courseSection.id); let i = index"
    >
      <span class="ks-line" style="width: 60px"></span>
      <nz-alert [nzType]="'success'" [nzShowIcon]="false" [nzMessage]="directoryMessage">
        <ng-template #directoryMessage>
          <div nz-row nzGutter="16">
            <div nz-col nzSpan="12">
              <span class="ks-label"></span>
              <nz-tag [nzColor]="'green'" *ngIf="classHour.resourceType === 'Video'">{{ l('视频') }}</nz-tag>
              <span>{{ l('课时') }}{{ i + 1 }}：{{ classHour.name }}</span>
            </div>
            <div nz-col nzSpan="12" style="text-align: right; padding-right: 6px">
              <a (click)="viewClassHour(classHour)">
                <i nz-icon nzType="info" nzTheme="outline"></i>
                {{ l('查看') }}
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="createOrEditClassHour(courseSection, classHour)">
                <i nz-icon nzType="info" nzTheme="outline"></i>
                {{ l('编辑') }}
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <span [hidden]="i === 0">
                <a (click)="moveClassHour(courseSection.id, i)">
                  <i style="transform: scale(0.68)" class="anticon anticon-up"></i>&nbsp;
                  {{ l('上移') }}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
              </span>

              <span [hidden]="i === getCourseClassHours(courseSection.id).length - 1">
                <a (click)="moveClassHour(courseSection.id, i, false)">
                  <i style="transform: scale(0.68)" class="anticon anticon-down"></i>&nbsp;
                  {{ l('下移') }}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
              </span>

              <a
                nz-popover
                [nzPopoverTitle]="l('选择章节')"
                [(nzPopoverVisible)]="changeClassHourSectionVisibleMap[classHour.id]"
                nzPopoverTrigger="click"
                [nzPopoverContent]="changeClassHourSection"
              >
                <i style="transform: scale(0.68)" class="anticon anticon-down"></i>&nbsp;
                {{ l('选择章节') }}
                <ng-template #changeClassHourSection>
                  <nz-select
                    style="width: 100%"
                    nzShowSearch
                    [(ngModel)]="classHour.courseId"
                    (ngModelChange)="setClassHourSection(classHour, $event)"
                  >
                    <ng-container *ngFor="let courseSection1 of sectionList">
                      <nz-option
                        [title]="courseSection1.name"
                        [nzLabel]="courseSection1.name"
                        [nzValue]="courseSection1.id"
                      ></nz-option>
                    </ng-container>
                  </nz-select>
                </ng-template>
              </a>
              <nz-divider nzType="vertical"></nz-divider>

              <a nz-dropdown [nzDropdownMenu]="menu">
                {{ l('操作') }}
                <i nz-icon nzType="down"></i>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="deleteClassHour(classHour)">
                      <i nz-icon nzType="delete" nzTheme="outline"></i>
                      {{ l('删除') }}
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </a>
            </div>
          </div>
        </ng-template>
      </nz-alert>
    </div>
  </div>
  <div *ngIf="sectionList.length == 0">
    <nz-empty></nz-empty>
  </div>
</div>
