<div class='modal-header'>
  <div class='modal-title'>{{l('Statistics')}}</div>
</div>


<nz-spin [nzTip]="'Loading...'" [nzSpinning]="false">


  <nz-table #nzTable nzSize="small" [nzData]="entities" [nzPageSize]="10">
    <thead>
      <tr>

        <th nzWidth="200px">{{l('ProductName')}}</th>
        <th>{{l('ActualPayment')}}</th>
        <th>{{l('yearMonth')}}</th>
        <th>{{l('buyCount')}}</th>
        <th>{{l('OrderSourceType')}}</th>
        <!-- <th>{{l('action')}}</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of nzTable.data">
        <td>{{i.productName}}</td>
        <td>{{i.actualPayment}}</td>
        <td>{{i.yearMonth}}</td>
        <td>{{i.buyCount}}</td>
        <td>{{i.orderSourceType}}</td>

        <!-- <td>
          <a href="#" (click)="edit(i)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="#" (click)="del(i)">Remove</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-dropdown
            <a class="ant-dropdown-link" nz-dropdown>
              More <i nz-icon type="down"></i>
            </a>
            <ul nz-menu>
              <li nz-menu-item>
                <a (click)="edit(i)">active</a>
              </li>
            </ul>
        </a>

        </td> -->
      </tr>
    </tbody>
  </nz-table>



</nz-spin>


<!-- 功能按钮 -->
<div class='modal-footer'>
  <button nz-button type="button" (click)="close()">
    {{l("Cancel")}}
  </button>
</div>
