<div class="modal-header">
  <div class="modal-title">
    <i class="iconfont icon-form mr-sm"></i>
    <span>{{ l('EditText') }}</span>
  </div>
</div>
<div>
  <div>
    <p>{{ l('Key') }}</p>
    <p>
      <strong>{{ data.key }}</strong>
    </p>
  </div>
  <br />
  <div>
    <p>
      <!-- <i class="anticon {{baseLanguage.icon}}"></i> -->
      <i class="iconfont {{ baseLanguage.icon }}"></i>
      &nbsp;&nbsp;{{ baseLanguage.displayName }}
    </p>
    <div>
      <input nz-input [(ngModel)]="baseText" [disabled]="true" />
    </div>
  </div>
  <br />
  <div>
    <p>
      <!-- <i class="anticon {{targetLanguage.icon}}"></i> -->
      <i class="iconfont {{ targetLanguage.icon }}"></i>
      &nbsp;&nbsp;{{ targetLanguage.displayName }}
    </p>
    <div>
      <textarea nz-input [(ngModel)]="data.value" [nzAutosize]="{ minRows: 3 }"></textarea>
    </div>
  </div>
</div>

<!-- 功能按钮 -->

<div class="modal-footer">
  <button nz-button type="button" [disabled]="saving" (click)="close()">
    {{ l('Cancel') }}
  </button>
  <button nz-button [nzType]="'primary'" type="button" (click)="save()">
    <!-- <button nz-button [nzType]="'primary'" type="button"  (click)="save()" [disabled]="!validateForm.valid"> -->
    {{ l('Save') }}
  </button>
</div>
