<!-- customization -->
<div class="container">
    <div class="row space-2">
        <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0">
            <!-- Contacts Info -->
            <div class="media pr-lg-9">
                <figure id="icon15" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                    <img class="js-svg-injector" src="~/Front/assets/svg/icons/icon-25.svg" alt="SVG"
                         data-parent="#icon15">
                </figure>
                <div class="media-body">
                    <h3 class="h5">定制商业服务</h3>
                    <p class="mb-1">
                        如果当前的版本不满足于您的需求，您需要自定义商业服务的要求或者需要定制化开发，请与我们联系。
                    </p>
                    <a class="btn  btn-success btn-xs font-size-1" href="#contactusModal" data-modal-target="#contactusModal" data-modal-effect="fadein">微信我 <span class="fas fa-angle-right align-middle ml-2"></span></a>
                </div>
            </div>
            <!-- End Contacts Info -->
        </div>
         
        <div class="col-lg-6">
            <!-- Contacts Info -->
            <div class="media pl-lg-9">
                <figure id="icon4" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                    <img class="js-svg-injector" src="~/Front/assets/svg/icons/icon-24.svg" alt="SVG"
                         data-parent="#icon4">
                </figure>
                <div class="media-body">
                    <h3 class="h5">商务合作</h3>
                    <p class="mb-1">如果您有项目需要外包，公司需要做技术培训，也有一些好的想法想找人沟通可以联系我们哦</p>
                    <a class="btn  btn-success btn-xs font-size-1" href="#contactusModal" data-modal-target="#contactusModal" data-modal-effect="fadein">微信我 <span class="fas fa-angle-right align-middle ml-2"></span></a>
                </div>
            </div>
            <!-- End Contacts Info -->
        </div>
    </div>
</div>
<!-- End Contacts Section -->