<div class="modal-header">
  <div class="modal-title">
    <i class="iconfont icon-medicine-box mr-sm"></i>
    <span *ngIf="entity.id">{{ l('Edit') }}</span>
    <span *ngIf="!entity.id">{{ l('Create') }}</span>
  </div>
</div>

<sf #validateForm [schema]="schema" [formData]="entity" button="none">
  <!-- 模态框底部 -->
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">
      <i class="iconfont icon-close-circle-o"></i> {{ l('Cancel') }}
    </button>
    <button
      nz-button
      type="submit"
      [nzType]="'primary'"
      (click)="submitForm(validateForm.value)"
      [disabled]="!validateForm.valid"
      [nzLoading]="saving"
    >
      <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
  </div>
</sf>
