<page-header [title]="'52ABP-PRO工作控制台'"> </page-header>

<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" style="background-color: white">
    <ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" (layoutUpdated)="onLayoutUpdated($event)">
      <ktd-grid-item
        *ngFor="let item of layout; trackBy: trackById"
        [id]="item.id"
        style="background-color: bisque; border-color: aqua"
      >
        <!-- Your grid item content goes here -->
      </ktd-grid-item>
    </ktd-grid>
  </div>
</div>

<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24">
    <nz-card
      nzTitle="52ABP模板项目中的技术栈"
      [nzBordered]="false"
      [nzLoading]="loading"
      class="ant-card__body-nopadding mb-lg project-list"
    >
      <div *ngFor="let item of notice" nz-card-grid class="project-grid">
        <nz-card [nzBordered]="false" class="ant-card__body-nopadding mb0">
          <nz-card-meta [nzTitle]="noticeTitle" [nzDescription]="item.description">
            <ng-template #noticeTitle>
              <div class="card-title">
                <nz-avatar [nzSrc]="item.logo" [nzSize]="'small'"></nz-avatar>
                <a [href]="item.href" target="_blank">{{ item.title }}</a>
              </div>
            </ng-template>
          </nz-card-meta>
        </nz-card>
      </div>
    </nz-card>
  </div>
</div>
