<!-- begin:: Quick Panel -->
<div id="kt_quick_panel" class="kt-offcanvas-panel">
    <div class="kt-offcanvas-panel__nav">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications"
                   role="tab">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_actions" role="tab">操作</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">设置</a>
            </li>
        </ul>
        <button class="kt-offcanvas-panel__close" id="kt_quick_panel_close_btn">
            <i class="flaticon2-delete"></i>
        </button>
    </div>
    <div class="kt-offcanvas-panel__body">
        <div class="tab-content">
            <div class="tab-pane fade show kt-offcanvas-panel__content kt-scroll active"
                 id="kt_quick_panel_tab_notifications" role="tabpanel">

                <!--Begin::Timeline -->
                <div class="kt-timeline">

                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--success">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon-feed kt-font-success"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">02:30 PM</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            KeenThemes created new layout whith tens of new options for Keen Admin panel
                        </a>
                        <div class="kt-timeline__item-info">
                            HTML,CSS,VueJS
                        </div>
                    </div>

                    <!--End::Item -->
                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--danger">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon-safe-shield-protection kt-font-danger"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">01:20 AM</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            New secyrity alert by Firewall & order to take aktion on User Preferences
                        </a>
                        <div class="kt-timeline__item-info">
                            Security, Fieewall
                        </div>
                    </div>

                    <!--End::Item -->
                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--brand">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon2-box kt-font-brand"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">Yestardey</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            FlyMore design mock-ups been uploadet by designers Bob, Naomi, Richard
                        </a>
                        <div class="kt-timeline__item-info">
                            PSD, Sketch, AJ
                        </div>
                    </div>

                    <!--End::Item -->
                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--warning">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon-pie-chart-1 kt-font-warning"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            Meeting with Ken Digital Corp ot Unit14, 3 Edigor Buildings, George Street, Loondon<br>
                            England, BA12FJ
                        </a>
                        <div class="kt-timeline__item-info">
                            Meeting, Customer
                        </div>
                    </div>

                    <!--End::Item -->
                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--info">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon-notepad kt-font-info"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">May 09, 2018</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            KeenThemes created new layout whith tens of new options for Keen Admin panel
                        </a>
                        <div class="kt-timeline__item-info">
                            HTML,CSS,VueJS
                        </div>
                    </div>

                    <!--End::Item -->
                    <!--Begin::Item -->
                    <div class="kt-timeline__item kt-timeline__item--accent">
                        <div class="kt-timeline__item-section">
                            <div class="kt-timeline__item-section-border">
                                <div class="kt-timeline__item-section-icon">
                                    <i class="flaticon-bell kt-font-success"></i>
                                </div>
                            </div>
                            <span class="kt-timeline__item-datetime">01:20 AM</span>
                        </div>
                        <a href="" class="kt-timeline__item-text">
                            New secyrity alert by Firewall & order to take aktion on User Preferences
                        </a>
                        <div class="kt-timeline__item-info">
                            Security, Fieewall
                        </div>
                    </div>

                    <!--End::Item -->
                </div>

                <!--End::Timeline -->
            </div>
            <div class="tab-pane fade kt-offcanvas-panel__content kt-scroll" id="kt_quick_panel_tab_actions"
                 role="tabpanel">

                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--solid-success">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hide"><i class="flaticon-stopwatch"></i></span>
                            <h3 class="kt-portlet__head-title">Recent Bills</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of
                            the printing industry.
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm kt-align-right">
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                    </div>
                </div>

                <!--end::Portlet-->
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--solid-focus">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hide"><i class="flaticon-stopwatch"></i></span>
                            <h3 class="kt-portlet__head-title">Latest Orders</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of
                            the printing industry.
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm kt-align-right">
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                    </div>
                </div>

                <!--end::Portlet-->
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--solid-info">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Latest Invoices</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of
                            the printing industry.
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm kt-align-right">
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                    </div>
                </div>

                <!--end::Portlet-->
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--solid-warning">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">New Comments</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of
                            the printing industry.
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm kt-align-right">
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                    </div>
                </div>

                <!--end::Portlet-->
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--solid-brand">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Recent Posts</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of
                            the printing industry.
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm kt-align-right">
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                        <a href="#"
                           class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
            <div class="tab-pane fade kt-offcanvas-panel__content kt-scroll" id="kt_quick_panel_tab_settings"
                 role="tabpanel">
                <form class="kt-form">
                    <div class="kt-heading kt-heading--space-sm">Notifications</div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable notifications:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable audit log:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm">
                                <label>
                                    <input type="checkbox" name="quick_panel_notifications_2">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-last form-group-xs row">
                        <label class="col-8 col-form-label">Notify on new orders:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                    <div class="kt-heading kt-heading--space-sm">Orders</div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable order tracking:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--danger">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable orders reports:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--danger">
                                <label>
                                    <input type="checkbox" name="quick_panel_notifications_3">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-last form-group-xs row">
                        <label class="col-8 col-form-label">Allow order status auto update:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--danger">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                    <div class="kt-heading kt-heading--space-sm">Customers</div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable customer singup:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--success">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">Enable customers reporting:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--success">
                                <label>
                                    <input type="checkbox" name="quick_panel_notifications_5">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-last form-group-xs row">
                        <label class="col-8 col-form-label">Notifiy on new customer registration:</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--sm kt-switch--success">
                                <label>
                                    <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end:: Quick Panel -->