<!-- 有资源id -->
<ng-container [ngSwitch]="noResource">
    <ng-container *ngSwitchCase="true">
        <!-- 资源类型 -->
        <div>
            <ng-container *ngTemplateOutlet="resourcTypeTemplate"></ng-container>
        </div>
        <!-- 资源来源 -->
        <div>
            <ng-container [ngSwitch]="resourceType">
                <ng-container *ngSwitchCase="'Video'">
                    <ng-container *ngTemplateOutlet="resourcSourceTemplate"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="false">
        <!-- 展示当前资源 -->
        <ng-container *ngTemplateOutlet="hasResouceTemplate"></ng-container>
    </ng-container>
</ng-container>

<!-- 当前存在资源 -->
<ng-template #hasResouceTemplate>
    <button nz-button nzType="default" (click)="onReSelectResouce($event)">{{l('重新选择')}}</button>
    <ng-container *ngTemplateOutlet="currentResouceTemplate"></ng-container>
</ng-template>

<!-- 当前资源显示模板 -->
<ng-template #currentResouceTemplate>

</ng-template>

<!-- 资源类型选择 -->
<ng-template #resourcTypeTemplate>
    {{l('资源类型')}}:
    <nz-radio-group [(ngModel)]="resourceType"
                    (ngModelChange)="onResourceTypeChange($event)">
        <ng-container *ngFor="let item of resourceTypes">
            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
        </ng-container>
    </nz-radio-group>
</ng-template>

<!-- 资源来源选择 -->
<ng-template #resourcSourceTemplate>
    {{l('资源来源')}}:
    <nz-radio-group [(ngModel)]="resourceSource"
                    (ngModelChange)="onResourceSourceChange($event)">
        <ng-container *ngFor="let item of resourceSourcesList">
            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
        </ng-container>
    </nz-radio-group>

    <!-- 资源来源类型不同,显示不同的选项卡 -->
    <ng-container [ngSwitch]="resourceSource">
        <ng-container *ngSwitchCase="'upload'">
            <ng-container *ngTemplateOutlet="uploadVideoTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'storage'">
            <ng-container *ngTemplateOutlet="videoResourcesTemplate"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<!-- 上传视频资源模板 -->
<ng-template #uploadVideoTemplate>
    <div>
        <course-class-hour-resource-upload-panel (videoInfoChange)="onSelectVideoInfoChange($event)">

        </course-class-hour-resource-upload-panel>
    </div>
</ng-template>

<!-- 选择视频资源库模板 -->
<ng-template #videoResourcesTemplate>
    <div>
        <course-class-hour-resource-select-panel (videoInfoChange)="onSelectVideoInfoChange($event)">

        </course-class-hour-resource-select-panel>
    </div>
</ng-template>
