<!-- 表单输入错误模板 -->
<ng-template #errorTpl let-control>
    <validation-messages [formCtrl]="control"></validation-messages>
</ng-template>

<div [@routerTransition]>
    <form nz-form #forgotPassForm="ngForm" (ngSubmit)="save()" autocomplete="off">
        <nz-alert class="mb-md" nzType="info" [nzMessage]="l('SendPasswordResetLink_Information')"
                  nzShowIcon>
        </nz-alert>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl">
                <input nz-input name="emailAddress" #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress"
                       [placeholder]="l('EmailAddress')" autoFocus required maxlength="255" type="email" email>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row nzGutter="8">
            <nz-col nzSm="12">
                <button nz-button nzType="primary" type="submit" [nzLoading]="saving"
                        [disabled]="!forgotPassForm.form.valid || saving" nzBlock>
                    {{l("Submit")}}
                </button>
            </nz-col>
            <nz-col nzSm="12">
                <button nz-button
                        nzType="default"
                        type="button"
                        [disabled]="saving"
                        routerLink="/account/login"
                        nzBlock>
                    {{l("Back")}}
                </button>
            </nz-col>
        </nz-form-item>
    </form>
</div>
