<!-- 表单输入错误模板 -->
<ng-template #errorTpl let-control>
    <validation-messages [formCtrl]="control"></validation-messages>
</ng-template>

<div [@routerTransition]>
    <form nz-form #resetPassForm="ngForm" (ngSubmit)="save()" autocomplete="off">
        <nz-alert nzType="info" [nzMessage]="l('PleaseEnterYourNewPassword')">
        </nz-alert>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl">
                <nz-input-group [nzPrefix]="nzPrefixIconLock">
                    <input nz-input name="password" #password="ngModel"
                           [(ngModel)]="model.newPassword"
                           [placeholder]="l('Password')"
                           autoFocus
                           type="password"
                           minlength="6" maxlength="32" required/>
                </nz-input-group>
                <ng-template #nzPrefixIconLock>
                        <span class="iconfont icon-lock"
                              style="color: rgba(0, 0, 0, 0.25);"></span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl">
                <nz-input-group [nzPrefix]="nzPrefixIconLock">
                    <input nz-input name="passwordRepeat" #passwordRepeat="ngModel"
                           [(ngModel)]="model.passwordRepeat"
                           [placeholder]="l('PasswordRepeat')" required type="password"
                           [validateEqual]="model.newPassword"
                           minlength="6" maxlength="32"/>
                </nz-input-group>
                <ng-template #nzPrefixIconLock>
                        <span class="iconfont icon-lock" style="color: rgba(0, 0, 0, 0.25);">
                        </span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nz-col class="text-center">
                <button nz-button routerLink="/account/login" [nzType]="'default'" [disabled]="saving"
                        type="button">
                    <i class="iconfont icon-rollback"></i>
                    <span>{{ l('Back') }}</span>
                </button>
                <button nz-button [nzType]="'primary'" [nzLoading]="saving" [disabled]="!resetPassForm.form.valid"
                        type="submit">
                    <i class="iconfont icon-check"></i>
                    <span>{{ l('LogIn') }}</span>
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
