<page-header [title]="l('WechatMaterialManagement')"></page-header>


<nz-card>
  <nz-tabset>
    <nz-tab nzTitle="图文消息">
      <app-wechat-material-img-text-view #imgTextMaterialView [wechatMediaService]="wechatMediaService">
      </app-wechat-material-img-text-view>
    </nz-tab>
    <nz-tab nzTitle="图片">
      <app-wechat-material-img-view #imgMaterialView [wechatMediaService]="wechatMediaService" [appId]="appId">
      </app-wechat-material-img-view>
    </nz-tab>
    <nz-tab nzTitle="语音">
      <app-wechat-material-voice-view #voiceMaterialView [wechatMediaService]="wechatMediaService" [appId]="appId">
      </app-wechat-material-voice-view>
    </nz-tab>
    <nz-tab nzTitle="视频">
      <app-wechat-material-video-view #videoMaterialView [wechatMediaService]="wechatMediaService">
      </app-wechat-material-video-view>
    </nz-tab>
  </nz-tabset>
</nz-card>
