<page-header [title]="l('UserDownloadConfig')"></page-header>

<nz-card [nzBordered]="false">
  <div class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSearch [nzSuffix]="suffixSearchButton">
              <input type="text" nz-input [(ngModel)]="filterText" (keyup.enter)="refresh()" name="filterText"
                [placeholder]="l('SearchWithThreeDot')" />
              <ng-template #suffixSearchButton>
                <button nz-button nzType="primary" nzSearch type="submit" (click)="refresh()">
                  <i class="anticon anticon-search"></i>
                </button>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="mb-md">
    <!-- 操作常规按钮部分 如： 添加、批量删除、导出Excel表 -->
    <nz-row nzGutter="8">
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.UserDownloadConfig.Create')"
          (click)="createOrEdit()">
          <i class="anticon anticon-plus"></i> <span> {{ l('Create') }} </span>
        </button>
        <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.UserDownloadConfig.BatchDelete')"
          (click)="batchDelete()">
          <i class="anticon anticon-delete"></i>
          <span> {{ l('BatchDelete') }} </span>
        </button>
        <button nz-button nzType="default" *ngIf="isGranted('Pages.UserDownloadConfig.ExportToExcel')"
          (click)="exportToExcel()">
          <i class="anticon anticon-file-excel"></i>
          <span> {{ l('ExportToExcel') }} </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 复选框提示的内容数据部分 -->
  <table-checkbox-panel [selectLength]="selectedDataItems.length" (onClear)="restCheckStatus(dataList)"
    (onRefresh)="refreshGoFirstPage()"></table-checkbox-panel>

  <!-- 实体的表格内容 -->

  <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
    [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()"
    [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
    [nzShowTotal]="showTotalTemplate" [nzFrontPagination]="false">
    <!-- 暂无数据组件 -->
    <ng-template #noDataTemplate>
      <no-data></no-data>
    </ng-template>
    <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
    <ng-template #showTotalTemplate let-total let-range="range">
      {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
    </ng-template>
    <!-- 表头 -->
    <thead (nzSortChange)="gridSort($event)">
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
          [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="ProductCode"><span>产品(助记码)</span></th>
        <th nzShowSort nzSortKey="DownloadType">
          <span>{{ l('DownloadType') }}</span>
        </th>
        <th nzShowSort nzSortKey="ResidueDegree">
          <span>{{ l('ResidueDegree') }}</span>
        </th>
        <th nzShowSort nzSortKey="StartTime">
          <span>{{ l('StartTime') }}</span>
        </th>
        <th nzShowSort nzSortKey="Indate">
          <span>{{ l('Indate') }}</span>
        </th>
        <th nzShowSort nzSortKey="UserName">
          <span>{{ l('UserName') }}</span>
        </th>
        <th nzWidth="230px" class="text-center" nzRight="0px">
          <span>{{ l('Actions') }}</span>
        </th>
      </tr>
    </thead>
    <!-- 表格内容 -->
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <!-- 全选框 -->
        <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"></td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.productCode">
              {{ item.productCode }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.downloadType">
              {{ item.downloadType }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.residueDegree">
              {{ item.residueDegree }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.startTime">
              {{ item.startTime | _moment: 'YYYY-MM-DD HH:mm:ss' }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.indate">
              {{ item.indate }}
            </span>
          </ellipsis>
        </td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.userName">
              {{ item.userName }}
            </span>
          </ellipsis>
        </td>

        <td nzRight="0px">
          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.UserDownloadConfig.Edit')">
            <a (click)="createOrEdit(item.id)">
              <i class="anticon anticon-edit mr-sm"></i>
              <span>{{ l('Edit') }}</span>
            </a>
          </ng-container>
          <!-- 删除 -->
          <ng-container *ngIf="isGranted('Pages.UserDownloadConfig.Delete')">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm [nzTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="anticon anticon-delete mr-sm"></i>
                <span>{{ l('Delete') }}</span>
              </a>
            </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
