<!-- 模态框头部 -->
<div class="modal-header">
    <div class="modal-title">
        <i class="iconfont icon-save-fill mr-sm"></i>
        <span>{{l('上传视频')}}</span>
    </div>
</div>


<!-- 模态内容 -->
<upload-video-resouce-panel [callSave]="callSave" (dataListLengthChange)="onDataListLengthChange($event)"
                            (savingChange)="onSavingChange($event)" (uploadingChange)="onUploadingChange($event)">

</upload-video-resouce-panel>


<!-- 模态框底部 -->
<div class="modal-footer">
    <button nz-button [disabled]="saving" type="button" (click)="close()">
        <i nz-icon nzType="close" nzTheme="outline"></i>
        {{ l('Close') }}
    </button>
    <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
            [disabled]="dataListLength === 0">
        <i class="iconfont icon-arrowup"></i>
        {{ uploading ? 'Uploading' : l('开始上传') }}&nbsp;
    </button>
</div>
