<!-- 模态框头部 -->
<div class="modal-header">
  <div class="modal-title">
    <i class="iconfont icon-medicine-box mr-sm"></i>
    <span>卡密绑定到用户</span>
  </div>
</div>

<!-- 字段 -->
<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" autocomplete="off" se-container="1" gutter="32">
  <se label="选择用户" [error]="l('ThisFieldIsRequired')">
    <nz-select
      style="width: 100%;"
      [(ngModel)]="input.userName"
      nzShowSearch
      [nzServerSearch]="true"
      (nzOnSearch)="onSearch($event)"
      name="userName"
      #userName="ngModel"
      nzPlaceHolder="请选择"
      required
    >
      <ng-container *ngFor="let item of userList">
        <nz-option *ngIf="!userLoding" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
      </ng-container>
      <nz-option *ngIf="userLoding" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i> 正在搜索...
      </nz-option>
    </nz-select>
  </se>
  <se label="价格" [error]="l('ThisFieldIsRequired')">
    <nz-input-number
      [(ngModel)]="input.money"
      name="money"
      #money="ngModel"
      nzMin="0"
      mzMax="79228162514264337593543950335"
      required
    ></nz-input-number>
  </se>

  <!-- 模态框底部 -->
  <se controlClass="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <i class="iconfont icon-close-circle-o"></i> {{ l('Cancel') }}
    </button>
    <button
      nz-button
      [nzType]="'primary'"
      type="submit"
      [disabled]="!validateForm.form.valid || saving"
      [nzLoading]="saving"
    >
      <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
  </se>
</form>
