<!-- 基本筛选条件 -->
<div *ngIf="existBasicFilter"
     nz-row
     [nzGutter]="8">
    <ng-container *ngTemplateOutlet="pageFiltersRendder;context:{$implicit:basicFilters}"></ng-container>

</div>

<!-- 高级筛选条件 -->
<ng-container *ngIf="existAdvancedFilter">
    <!-- 筛选条件 -->
    <div [hidden]="isCollapsed"
         nz-row
         [nzGutter]="8">
        <ng-container *ngTemplateOutlet="pageFiltersRendder;context:{$implicit:advancedFilters}"></ng-container>
    </div>

    <!-- 展开高级搜索 -->
    <div nz-row>
        <div nz-col
             [nzSpan]="24"
             class="search-area">
            <a class="collapse"
               (click)="onClickCollapse()">
                {{isCollapsed ? l('label.collapsed') : l('label.unfold')}}
                <i nz-icon
                   [nzType]="isCollapsed ? 'down' : 'up'"></i>
            </a>
        </div>
    </div>
</ng-container>

<!-- 筛选条件渲染模板 -->
<ng-template #pageFiltersRendder
             let-data>
    <div nz-col
         *ngFor="let item of data"
         [nzXs]="item.xsWidth"
         [nzSm]="item.smWidth"
         [nzMd]="item.mdWidth"
         [nzLg]="item.lgWidth"
         [nzXl]="item.xlWidth"
         [nzXXl]="item.xxlWidth">
        <ng-container *ngTemplateOutlet="pageFilterItemRendder;context:{$implicit:item}"></ng-container>
    </div>
</ng-template>


<!-- 组件渲染模板 -->
<ng-template #pageFilterItemRendder
             let-data>
    <ng-container [ngSwitch]="data.componentName">
        <!--  sample-input  -->
        <ng-container *ngSwitchCase="'sample-input'">
            <nz-form-item [title]="l(data.label)">
                <nz-form-label *ngIf="displayLabel"
                               [nzFor]="data.field">{{l(data.label)}}</nz-form-label>
                <nz-form-control>
                    <sample-input [name]="data.field"
                                  [(ngModel)]="pageFilterData[data.field].value"
                                  [args]="data.args"
                                  [externalArgs]="pageFilterExternalArgsData[data.field]"
                                  (ngModelChange)="onValueChange($event,data)"
                                  (readyChange)="onReadyChange($event)">
                    </sample-input>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <!--  sample-select  -->
        <ng-container *ngSwitchCase="'sample-select'">
            <nz-form-item [title]="l(data.label)">
                <nz-form-label *ngIf="displayLabel"
                               [nzFor]="data.field">{{l(data.label)}}</nz-form-label>
                <nz-form-control>
                    <sample-select [name]="data.field"
                                   [(ngModel)]="pageFilterData[data.field].value"
                                   [args]="data.args"
                                   [externalArgs]="pageFilterExternalArgsData[data.field]"
                                   (ngModelChange)="onValueChange($event,data)"
                                   (readyChange)="onReadyChange($event)">
                    </sample-select>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <!--  sample-date  -->
        <ng-container *ngSwitchCase="'sample-date'">
            <nz-form-item [title]="l(data.label)">
                <nz-form-label *ngIf="displayLabel"
                               [nzFor]="data.field">{{l(data.label)}}</nz-form-label>
                <nz-form-control>
                    <sample-date [name]="data.field"
                                 [(ngModel)]="pageFilterData[data.field].value"
                                 [args]="data.args"
                                 [externalArgs]="pageFilterExternalArgsData[data.field]"
                                 (ngModelChange)="onValueChange($event,data)"
                                 (readyChange)="onReadyChange($event)">
                    </sample-date>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
    </ng-container>
</ng-template>
