<page-header [title]="l('VideoResource')" [action]="actionTemplate">
  <ng-template #actionTemplate>
    <button nz-button (click)="refresh()">
      {{ l('刷新') }}
    </button>
    <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.VideoResource.Create')" (click)="createOrEdit()">
      <i class="iconfont icon-plus"></i>
      {{ l('上传视频') }}
    </button>
    <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.VideoResource.BatchDelete')" (click)="batchDelete()">
      <i class="iconfont icon-delete"></i>
      <span> {{ l('BatchDelete') }} </span>
    </button>
    <button
      nz-button
      [nzType]="'primary'"
      *ngIf="isGranted('Pages.VideoResource.Edit')"
      (click)="synchronizeAliyunVod()"
    >
      <i class="iconfont icon-delete"></i>
      {{ l('同步视频信息') }}
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <page-filter
    [pageFilters]="pageInfo.pageFilters"
    [displayLabel]="true"
    (readyChange)="onFilterReady($event)"
    (valueChange)="onFilterChange($event)"
  >
  </page-filter>

  <sample-table
    [loading]="loading"
    [page]="pageInfo"
    [columns]="pageInfo.columns"
    [data]="pageInfo.viewRecord"
    [virtual]="pageInfo.virtual"
    [virtualItemSize]="pageInfo.virtualItemSize"
    [scroll]="pageInfo.scroll"
    [pageIndex]="pageInfo.index"
    [pageSize]="pageInfo.size"
    [total]="pageInfo.totalRecord"
    (action)="onAction($event)"
    (check)="onCheckChange($event)"
    (sort)="onSortChange($event)"
    (pageIndexChange)="onPageIndexChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  >
  </sample-table>
</nz-card>
