<ng-template #sidebox>
  <div class="m-md pb-md border-bottom-1">

    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input nz-input [(ngModel)]="userNameFilter" nzSize="large" delay [placeholder]="l('AddFriend')"
        (ngModelChange)="findUser()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
    </ng-template>


  </div>

  <!-- 好友列表 -->
  <div class="chat__scroll-container" style="overflow: auto;">

    <span *ngFor="let i of friends " class="chat__contact" (click)="choUser(i)" [ngClass]="{
        'chat__contact-active': i.active,
        'chat__contact-offline': !i.isOnline
      }">
      <app-friend-profile-picture [cssClass]="'chat__user-avatar'" [profilePictureId]="i.friendProfilePictureId"
        [userId]="i.friendUserId" [tenantId]="i.friendTenantId"></app-friend-profile-picture>

      <div class="flex-1 ml-md">
        <div class="text-truncate">{{ i.friendUserName }}</div>
        <div>
          <nz-badge *ngIf="i.isOnline" nzStatus="success" nzText="Online"></nz-badge>
          <nz-badge *ngIf="!i.isOnline" nzStatus="default" nzText="Offline"></nz-badge>
        </div>
      </div>
      <nz-badge *ngIf="i.unreadMessageCount > 0" [nzCount]="i.unreadMessageCount"
        [nzStyle]="{ backgroundColor: '#52c41a' }"></nz-badge>
    </span>


  </div>


</ng-template>

<app-page-grid [loading]="!friends">
  <div class="chat__container" style="height: 450px;">
    <div class="chat__sidebox">
      <ng-template [ngTemplateOutlet]="sidebox"></ng-template>
    </div>


    <div class="d-flex flex-column flex-grow-1">

      <div class="px-lg py-md border-bottom-1">
        <div class="d-flex align-items-center">
          <a class="hidden-pc">
            <i nz-icon nzType="ellipsis" class="rotate-90 text-grey-dark mr-md"></i>
          </a>
          <div class="position-relative">
            <div class="position-absolute" style="top: -8px; left: 0;">
              <nz-badge *ngIf="selectedUser.isOnline" nzStatus="success"></nz-badge>
              <nz-badge *ngIf="!selectedUser.isOnline" nzStatus="default"></nz-badge>
            </div>
            <app-friend-profile-picture [cssClass]="'chat__user-avatar'"
              [profilePictureId]="selectedUser.friendProfilePictureId" [userId]="selectedUser.friendUserId"
              [tenantId]="selectedUser.friendTenantId"></app-friend-profile-picture>
          </div>
          <div class="flex-1 pl-md">
            <strong>{{ selectedUser.friendUserName }}</strong>
            <em class="d-block text-grey text-xs">Typing...</em>
          </div>
          <div>

            <button nz-button class="ml-sm" nzShape="circle" nz-dropdown [nzDisabled]="!(selectedUser.friendUserId > 0)"
              [nzDropdownMenu]="userMenu">
              <i nz-icon nzType="ellipsis"></i>
            </button>

            <nz-dropdown-menu #userMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="selectedUser.state !== friendDtoState.Blocked" (click)="block(selectedUser)">
                  Block
                </li>
                <li nz-menu-item *ngIf="selectedUser.state === friendDtoState.Blocked" (click)="unblock(selectedUser)">
                  Unblock</li>
              </ul>

            </nz-dropdown-menu>
          </div>
        </div>
      </div>


      <div class="flex-grow-1 position-relative">
        <div class="chat__scroll-container chat__message-container" Scrollbar #messageScrollbar="scrollbarComp">

          <!-- 聊天记录 -->
          <div *ngFor="let m of selectedUser.messages"
            class="chat__message chat__message-{{ m.side === 1 ? 'right':'left' }}">
            <div class="chat__message-avatar">
              <app-friend-profile-picture [cssClass]="'chat__user-avatar'"
                [profilePictureId]="selectedUser.friendProfilePictureId" [userId]="selectedUser.friendUserId"
                [tenantId]="selectedUser.friendTenantId"></app-friend-profile-picture>
              <div class="chat__message-time">{{ m.creationTime | date:'shortTime'  }}</div>
            </div>
            <div class="chat__message-msg">
              <strong
                class="chat__message-msg--name">{{ m.side === 1 ?  'You' : selectedUser.friendUserName  }}</strong>
              <div class="chat__message-msg--text">{{ m.message }}</div>
            </div>
          </div>


        </div>
      </div>

      <div class="border-top-1 p-lg">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
          <input type="text" [(ngModel)]="chatMessage" (keydown.enter)="enterSend($event)" nz-input #chatMessageInput
            [placeholder]="l('TypeAMessageHere')" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch
            (click)="sendMessage($event)">{{ l('Reply') }}</button>
        </ng-template>
      </div>

    </div>



  </div>
</app-page-grid>
