<!-- 模态框头部 -->
<div class="modal-header">
  <div class="modal-title">
    <i class="iconfont icon-medicine-box mr-sm"></i>
    <span>{{ l('Create') }}</span>
  </div>
</div>

<!-- 字段 -->
<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" autocomplete="off" se-container="1" gutter="32">
  <se [label]="l('Product')" [error]="l('ThisFieldIsRequired')">
    <nz-select
      [(ngModel)]="entity.productCode"
      name="productCode"
      #productCode="ngModel"
      nzPlaceHolder="请选择"
      required
    >
      <nz-option *ngFor="let item of products" [nzLabel]="item.key" [nzValue]="item.value"> </nz-option>
    </nz-select>
  </se>
  <se label="创建数量" [error]="l('ThisFieldIsRequired')">
    <nz-input-number
      [(ngModel)]="entity.quantity"
      name="quantity"
      #quantity="ngModel"
      nzMin="1"
      mzMax="100"
      required
    ></nz-input-number>
  </se>

  <!-- 模态框底部 -->
  <se controlClass="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
      <i class="iconfont icon-close-circle-o"></i> {{ l('Cancel') }}
    </button>
    <button
      nz-button
      [nzType]="'primary'"
      type="submit"
      [disabled]="!validateForm.form.valid || saving"
      [nzLoading]="saving"
    >
      <i class="iconfont icon-save" *ngIf="!saving"></i> {{ l('Save') }}
    </button>
  </se>
</form>
