<!-- FAQ Section -->
<div class="container space-2 ">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">帮助</span>
        <h2 class="text-primary">FAQ - <span class="font-weight-semi-bold"> 常见问题</span>:</h2>
    </div>
    <!-- End Title -->
    <!-- FAQ -->
    <div id="basicsAccordion" class=" container ">



        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseOne"
                            aria-expanded="true"
                            aria-controls="basicsCollapseOne">
                        什么是52ABP-PRO?

                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseOne" class="collapse show"
                 aria-labelledby="basicsHeadingOne"
                 data-parent="#basicsAccordion">
                <div class="card-body">
                    <p>
                        52ABP-PRO是一个基于Visual Studio的Web项目解决方案。它基于分层架构和其他软件最佳架构实践。
                        它是一个强大且可扩展的解决方案架构，预初始化了大量页面的应用解决方案。
                    </p>
                    <p>
                        如果您有一个项目需要进行Web应用开发，那么您可以将52ABP-PRO作为基础解决方案，而不是浪费时间自己从0开始搭建用户，角色和权限管理，审计日志记录，设置管理，配置管理，本地化，等功能需求,详细可参考  <a href="#">（功能列表）</a>
                    </p>


                    <p>
                        52ABP-PRO不仅提供了许多预构建的功能，而且这些所有的功能都是基于在ABP(ASP.NET Boilerplate)之上开发的，能够让您的日常开发工作更轻松。
                    </p>
                    <p>
                        如果您要创建SaaS应用程序，它还支持多租户，订阅。
                    </p>
                    <p> 52ABP-PRO是在大家已经熟知的工具上开发的，如ASP.NET Core，Entity Framework，Angular,Vue,Dapper,Weixin 等......</p>


                    <p>
                        52ABP-PRO使用
                        <a href="https://ng-alain.com/" target="_blank">ng-alian</a> ，
                        <a href="https://ng-alain.com/" target="_blank">Ant Design Vue</a>
                        <a href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">Front</a>
                        <a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" target="_blank">Keen</a>
                        e等前端主题作为用户界面开发的，支持Angular，Vue，JQuery。
                    </p>
                    <p> 您会获得完整的源代码，并可以根据您的业务需求自由更改！</p>








                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseTwo"
                            aria-expanded="false"
                            aria-controls="basicsCollapseTwo">
                        ABP(ASP.NET Boilerplate)与52ABP-PRO之间的关系是什么？
                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseTwo" class="collapse"
                 aria-labelledby="basicsHeadingTwo"
                 data-parent="#basicsAccordion">
                <div class="card-body">

                    <p>
                        52ABP-PRO由52ABP团队成立的，由角落的白板报，牵头开发致力于做符合国内生态的开发框架。ABP中的所有内容都可以直接在 52ABP-PRO中使用。所有文档也适用于 52ABP-PRO。由于ABP拥有全面的文档，因此在开发应用程序时会有很大帮助。
                    </p>
                    <p>
                        52ABP.COM网站提供了一个免费的启动模板,如果你是用来学习ABP和用于一些简单的项目，创建属于你自己的项目即可开发。

                    </p>
                    <p>  52ABP-PRO则是一个可立即投入生产的企业级应用程序解决方案，拥有7X12小时的远程技术支持。@*有关免费启动模板和52ABP-PRO之间的差异，请参阅比较表。*@</p>


                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseThree"
                            aria-expanded="false"
                            aria-controls="basicsCollapseThree">
                        52ABP-PRO的优点有哪些?

                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseThree" class="collapse"
                 aria-labelledby="basicsHeadingThree"
                 data-parent="#basicsAccordion">
                <div class="card-body">

                    <p>
                        52ABP-PRO提供了分层的，定义明确的文档化架构模型。因此，您的开发人员将知道如何编写遵循最佳实践的代码。
                        该解决方案已经成熟，解决了从头开始创建应用程序时遇到的大多数问题。
                    </p>
                    <p>
                        52ABP-PRO提供了几乎所有应用程序共有的许多预构建功能：登录，用户，角色和权限管理，审计日志，设置，用户配置文件，多语言，多租户等。您在从 <a href="https://pro.52abp.com/" target="_blank">https://pro.52abp.com/</a>注册一个租户来查看大部分功能。 @*创建一个演示以查看大部分UI。*@
                    </p>
                    <p>
                        52ABP-PRO基于开源和社区驱动的ABP框架集成解决方案。它正在被成千上万的开发人员积极使用并且它还在不断的发展。它提供基类和基础架构，使您的日常开发更容易，并拥有自动执行重复任务的BackgroundJob。
                    </p>
                    <p>
                        所以，不要浪费你的时间在开发基础设施上，你使用52ABP-PRO可以马上开始做你的业务功能。
                    </p>



                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseFour"
                            aria-expanded="false"
                            aria-controls="basicsCollapseFour">
                        52ABP-PRO是不是包含了所有的完整源代码？

                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseFour" class="collapse"
                 aria-labelledby="basicsHeadingFour"
                 data-parent="#basicsAccordion">
                <div class="card-body">

                    <p>
                        是的，购买了我们的服务，我们会提供所有的源代码。您可以根据您的需求完全自由的替换和更改它。
                    </p>
                    <p>
                        需要您注意下面的内容：
                    </p>
                    <p>
                        52ABP-PRO的解决方案中使用了大量的类库，这些库都是免费和开源的，作为NuGet包在提供服务。
                        一个解决方案中包含所有的源代码并不是一个好事情，因为您的解决方案的规模将非常大，您无法轻松更新库。
                        但是，如果您需要任何库的源代码，您可以从其开源库中获取它。ABP框架也是这样的，它可以在GitHub存储库中找到它的源代码。
                        所以，并没有采用任何方式隐藏源代码。
                    </p>



                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseFive"
                            aria-expanded="false"
                            aria-controls="basicsCollapseFive">
                        关于订阅服务过期的问题及服务内容？
                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseFive" class="collapse"
                 aria-labelledby="basicsHeadingFive"
                 data-parent="#basicsAccordion">
                <div class="card-body">


                    <p>
                        52ABP-PRO商业服务包括有效期内的框架技术支持服务以及网站的会员可以得到的增值权益，如免费享受收费书籍内容，
                        您可以在Gitee企业储存库中的最新代码，可以跟踪52ABP-PRO的历史版本号和迭代内容。
                    </p>
                    <p>服务到期后，您可以继续在52ABP-PRO上进行应用程序的开发，不受到任何的限制，只是不会再获得52ABP-PRO的官方升级服务了。</p>
                    <p>您可以继续更新ABP(ASP.NET Boilerplate)的Nuget包，因为它是开源的项目，不会受到任何的影响。</p>
                    <p>它的文档是也公开的，您可以继续访问所有的文档内容，只是无法获取到52ABP-PRO的收费书籍内容。</p>
                    <p>您的增值会员资格也将结束。但是您可以一如既往地获得社区的支持。</p>
                    <p>52ABP团队，更像是您的云架构团队~</p>

                    @*您可以将许可证延长1年，购买许可证当前价格的50％。
                        如果您想延长许可证，则应在许可证到期后的1个月内完成。*@
                    <p></p>

                    <p></p>





                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                            data-toggle="collapse"
                            data-target="#basicsCollapseSix"
                            aria-expanded="false"
                            aria-controls="basicsCollapseSix">
                        发票问题？
                        <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                        </span>
                    </button>
                </h5>
            </div>
            <div id="basicsCollapseSix" class="collapse"
                 aria-labelledby="basicsHeadingSix"
                 data-parent="#basicsAccordion">
                <div class="card-body">

                    <p>
                        目前可以开具增值税普通发票。发票申请地址 <a href="https://docs.qq.com/form/fill/DQUNUQUtFbkF4S3Z2" target="_blank">服务发票申请</a>
                    </p>

                    <p></p>





                </div>
            </div>
        </div>
        <!-- End Card -->

    </div>
    <!-- End FAQ -->
     

</div>
<!-- End FAQ Section -->