<div class="warpper-container">
  <header>
    <div class="leftbox">

    </div>
    <div class="rightbox">

    </div>
  </header>
  <article> </article>
  <footer>
    <div class="jianpan"></div>
    <div style='position: absolute;bottom: 0;left: 50px;'>
      <app-wechat-menu-button [parentMenu]="null" [(menuList)]="menuList" [isHorizontal]="true"
        [subMenuIsHorizontal]="true" (menuClicked)="menuSelectChanged($event)" [height]="'55px'" [width]="'108px'">
      </app-wechat-menu-button>
    </div>

  </footer>
</div>
