<page-header [title]="l('Product')"></page-header>

<nz-card [nzBordered]="false">
  <div class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSearch [nzSuffix]="suffixSearchButton">
              <input type="text" nz-input [(ngModel)]="filterText" (keyup.enter)="refresh()" name="filterText"
                [placeholder]="l('SearchWithThreeDot')" />
              <ng-template #suffixSearchButton>
                <button nz-button nzType="primary" nzSearch type="submit" (click)="refresh()">
                  <i class="iconfont icon-search"></i>
                </button>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="mb-md">
    <!-- 操作常规按钮部分 如： 添加、批量删除、导出Excel表 -->
    <nz-row nzGutter="8">
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.Product.Create')" (click)="createOrEdit()">
          <i class="iconfont icon-plus"></i> <span> {{ l('Create') }} </span>
        </button>
        <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.Product.BatchDelete')" (click)="batchDelete()">
          <i class="iconfont icon-delete"></i>
          <span> {{ l('BatchDelete') }} </span>
        </button>
        <button nz-button nzType="default" *ngIf="isGranted('Pages.Product.ExportToExcel')" (click)="exportToExcel()">
          <i class="iconfont icon-file-excel"></i>
          <span> {{ l('ExportToExcel') }} </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 复选框提示的内容数据部分 -->
  <table-checkbox-panel [selectLength]="selectedDataItems.length" (onClear)="restCheckStatus(dataList)"
    (onRefresh)="refreshGoFirstPage()"></table-checkbox-panel>

  <!-- 实体的表格内容 -->

  <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
    [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()"
    [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
    [nzShowTotal]="showTotalTemplate" [nzFrontPagination]="false" [nzScroll]="{ x: '1300px', y: '550px' }">
    <!-- 暂无数据组件 -->
    <ng-template #noDataTemplate>
      <no-data></no-data>
    </ng-template>
    <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
    <ng-template #showTotalTemplate let-total let-range="range">
      {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
    </ng-template>
    <!-- 表头 -->
    <thead (nzSortChange)="gridSort($event)">
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
          [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)"
          *ngIf="isGranted('Pages.Product.BatchDelete')"></th>
        <th nzShowSort nzSortKey="Name" nzWidth="180px">
          <span>{{ l('ProductName') }}</span>
        </th>
        <th nzShowSort nzSortKey="Price" nzWidth="180px">
          <span>{{ l('ProductPrice') }}</span>
        </th>
        <th nzShowSort nzSortKey="Type" nzWidth="180px">
          <span>{{ l('ProductType') }}</span>
        </th>
        <th nzShowSort nzSortKey="CreateProjectCount" nzWidth="180px">
          <span>{{ l('CreateProjectCount') }}</span>
        </th>
        <th nzShowSort nzSortKey="Recommended" nzWidth="180px">
          <span>{{ l('Recommended') }}</span>
        </th>
        <th nzShowSort nzSortKey="CreationTime" nzWidth="180px">
          <span>{{ l('CreationTime') }}</span>
        </th>
        <th nzShowSort nzSortKey="Code" nzWidth="180px">
          <span>{{ l('ProductCode') }}</span>
        </th>
        <th nzWidth="180px" class="text-center" nzRight="0px">
          <span>{{ l('Actions') }}</span>
        </th>
      </tr>
    </thead>
    <!-- 表格内容 -->
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <!-- 全选框 -->
        <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"
          *ngIf="isGranted('Pages.Product.BatchDelete')"></td>

        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.name"> {{ item.name }} </span>
          </ellipsis>
        </td>
        <td>{{ item.price }}</td>
        <td>{{ getProductTypeLocStr(item.type) }}</td>
        <td>{{ item.createProjectCount }}</td>
        <td [innerHTML]="item.recommended | yn"></td>
        <td>{{ item.creationTime }}</td>
        <td>
          <ellipsis lines="1" tooltip>
            <span nz-tooltip [nzTooltipTitle]="item.code"> {{ item.code }} </span>
          </ellipsis>
        </td>

        <td nzRight="0px">
          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.Product.Edit') && !item.published">
            <a (click)="createOrEdit(item.id)">
              <i class="iconfont icon-edit mr-sm"></i>
              <span>{{ l('Edit') }}</span>
            </a>
          </ng-container>
          <!-- 发布 -->
          <ng-container *ngIf="isGranted('Pages.Product.Edit') && !item.published">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认发布此产品?" (nzOnConfirm)="publish(item)" [nzOkText]="l('Ok')"
              [nzCancelText]="l('Cancel')">
              <a nz-popconfirm> <i class="iconfont icon-lock mr-sm"></i> <span>发布</span> </a>
            </a>
          </ng-container>
          <!-- 删除 -->
          <ng-container *ngIf="isGranted('Pages.Product.Delete') && !item.published">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm [nzTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('Delete') }}</span>
              </a>
            </a>
          </ng-container>

          <!-- 下架商品 -->
          <ng-container *ngIf="item.published">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认下架此产品?" (nzOnConfirm)="unshelveProduct(item)" [nzOkText]="l('Ok')"
              [nzCancelText]="l('Cancel')">
              <a nz-popconfirm>
                <i class="iconfont icon-delete mr-sm"></i>
                <span>{{ l('UnshelveProduct') }}</span>
              </a>
            </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
