<page-header [title]="l('WechatAppConfig')"></page-header>

<nz-card [nzBordered]="false">
  <div class="mb-md">
    <!-- 模糊搜索框 -->
    <nz-row nzGutter="8">
      <nz-col nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixSearchButton">
              <input type="text" nz-input [(ngModel)]="filterText" (keyup.enter)="refresh()" name="filterText"
                [placeholder]="l('SearchWithThreeDot')" />
              <ng-template #suffixSearchButton>
                <button nz-button nzType="primary" nzSearch type="submit" (click)="refresh()">
                  <!-- <i class="iconfont icon-search"></i> -->
                  <i class="iconfont icon-search"></i>
                </button>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="mb-md">
    <!-- 操作常规按钮部分 如： 添加、批量删除、导出Excel表 -->
    <nz-row nzGutter="8">
      <nz-col nzMd="20" nzSm="12" class="btn-gutter">
        <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.WechatAppConfig.Create')"
          (click)="createOrEdit()">
          <i class="iconfont icon-plus"></i>
          <span>
            {{ l('Create') }}
          </span>
        </button>
        <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.WechatAppConfig.BatchDelete')"
          (click)="batchDelete()">
          <i class="iconfont icon-delete"></i>
          <span>
            {{ l('BatchDelete') }}
          </span>
        </button>
        <button nz-button nzType="default" *ngIf="isGranted('Pages.WechatAppConfig.ExportToExcel')"
          (click)="exportToExcel()">
          <!-- <i class="iconfont icon-file-excel"></i> -->
          <i class="iconfont icon-file-excel"></i>
          <span>
            {{ l('ExportToExcel') }}
          </span>
        </button>
      </nz-col>
    </nz-row>
  </div>

  <!-- 复选框提示的内容数据部分 -->
  <!-- 复选框提示的内容数据部分 -->
  <table-checkbox-panel [selectLength]="selectedDataItems.length" (onClear)="restCheckStatus(dataList)"
    (onRefresh)="refreshGoFirstPage()"></table-checkbox-panel>

  <!-- 实体的表格内容 -->

  <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
    [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()"
    [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate"
    [nzShowTotal]="showTotalTemplate" [nzFrontPagination]="false">
    <!-- 暂无数据组件 -->
    <ng-template #noDataTemplate>
      <no-data></no-data>
    </ng-template>
    <!-- 分页信息显示 当前 1 页/共 3 页，共 5 条/显示 1-2 条 -->
    <ng-template #showTotalTemplate let-total let-range="range">
      {{ l('GridFooterDisplayText', pageNumber, totalPages, total, range[0], range[1]) }}
    </ng-template>
    <!-- 表头 -->
    <thead (nzSortChange)="gridSort($event)">
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled"
          [nzIndeterminate]="checkboxIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nz-th nzShowSort nzSortKey="QRCodeUrl">
          <span>{{ l('QRCodeUrl') }}</span>
        </th>
        <th nz-th nzShowSort nzSortKey="AppId">
          <span>{{ l('WechatAppId') }}</span>
        </th>
        <th nz-th nzShowSort nzSortKey="Name">
          <span>{{ l('WechatName') }}</span>
        </th>
        <th nz-th nzShowSort nzSortKey="AppType">
          <span>{{ l('WechatAppType') }}</span>
        </th>
        <th nzWidth="230px" class="text-center">
          <span>{{ l('Actions') }}</span>
        </th>
      </tr>
    </thead>
    <!-- 表格内容 -->
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <!-- 全选框 -->
        <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"></td>
        <td nz-td>
          <img *ngIf="item.qrCodeUrl" [src]="item.qrCodeUrl" (click)="showImg(item.qrCodeUrl)" style="width:50px;" />
        </td>

        <td nz-td>
          <ellipsis lines="1">
            <span nz-tooltip [nzTooltipTitle]="item.appId">
              {{ item.appId }}
            </span>
          </ellipsis>
        </td>
        <td nz-td>
          <ellipsis lines="1">
            <span nz-tooltip [nzTooltipTitle]="item.name">
              {{ item.name }}
            </span>
          </ellipsis>
        </td>
        <td nz-td>
          <ellipsis lines="1">
            <span nz-tooltip [nzTooltipTitle]="item.appTypeStr">
              {{ item.appTypeStr }}
            </span>
          </ellipsis>
        </td>

        <td>
          <!-- 编辑 -->
          <ng-container *ngIf="isGranted('Pages.WechatAppConfig.Edit')">
            <a (click)="createOrEdit(item.id)">
              <i class="iconfont icon-edit mr-sm"></i>
              <span>{{ l('Edit') }}</span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-container>
          <!-- 删除 -->
          <ng-container *ngIf="isGranted('Pages.WechatAppConfig.Delete')">
            <a nz-popconfirm [nzPopconfirmTitle]="l('ConfirmDeleteWarningMessage')" (nzOnConfirm)="delete(item)"
              [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
              <i class="iconfont icon-delete mr-sm"></i>
              <span>{{ l('Delete') }}</span>
            </a>
          </ng-container>
          <!-- 更多 -->
          <ng-container *ngIf="
                isGrantedAny('Pages.WechatAppConfig', 'Pages.WechatAppConfig.Create', 'Pages.WechatAppConfig.Edit')
              ">
            <nz-divider nzType="vertical"></nz-divider>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <a nz-dropdown>
                <!-- <i class="iconfont icon-down"></i> -->
                <i class="iconfont icon-down"></i>
                <span>{{ l('More') }}</span>
              </a>
              <ul nz-menu>
                <!-- 注册/刷新注册应用 -->
                <li nz-menu-item (click)="registerApp(item)">
                  <!-- <i class="iconfont icon-sync"></i> -->
                  <i class="iconfont icon-sync"></i>
                  <span *ngIf="!item.registered">{{ l('RegisterWechatApp') }}</span>
                  <span *ngIf="item.registered">{{ l('ReRegisterWechatApp') }}</span>
                </li>
                <!-- 编辑菜单 -->
                <li nz-menu-item (click)="editMenu(item)">
                  <i class="iconfont icon-edit mr-sm"></i>
                  <span>{{ l('EditWechatMenu') }}</span>
                </li>
                <!-- 编辑素材 -->
                <li nz-menu-item (click)="editMaterial(item)">
                  <i class="iconfont icon-edit mr-sm"></i>
                  <span>编辑素材</span>
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
