<div class="ant-layout-sider-children">
    <div class="alain-pro__sider-logo">
        <a [routerLink]="['/']" class="alain-pro__header-logo-link">
            <img class="alain-pro__header-logo-expanded"
                 src="/assets/images/logos/logo-txt-white-shield.svg"
                 alt="{{ settings.app.name }}"
                 style="max-height:40px;"
            />
            <img class="alain-pro__header-logo-collapsed"
                 src="/assets/images/logos/logo-white-shield.svg"
                 alt="{{ settings.app.name }}"
                 style="max-height:30px;"
            />
        </a>
    </div>
    <yoyo-sidebar-nav></yoyo-sidebar-nav>
</div>
